///////////////////////////////////////////////
///////////// variables
///////////////////////////////////////////////

$color-red: #cd3430;
$color-grey: #e3e3e3;
$color-text-dark: #383838;
$color-text-light: #a8afb3;

$font-regular: 'Neo Sans Pro', sans-serif;
$font-bold: 'Neo Sans Pro Medium', sans-serif;

$font-size-title: 27px;


