///////////////////////////////////////////////
///////////// variables
///////////////////////////////////////////////

$color-grey: #9c9c9c;
$color-grey-light: #aabfc5;
$color-blue-dark: #2a373e;
$color-blue-medium: #2e9ad7;
$color-blue: #6194ab;
$color-blue-light: #aadae5;
$color-yellow: #ffaa0e;
$color-crimson: #ff3c72;
$color-crimson-light: #ff6b4c;
$color-text-dark: #333;
$color-text-light: #888;
$color-brown: #cbb996;
$color-light: #fcf9f4;

$font-title-large: 70px;
$font-title-medium: 40px;
$font-title-small: 28px;

$font-XXL: 26px;
$font-XL: 24px;
$font-L: 22px;
$font-M: 20px;
$font-S: 18px;
$font-XS: 16px;
$font-XXS: 14px;


