/*********************************************
*********** fonts
**********************************************/

@font-face {
  font-family: 'Neo Sans Pro', sans-serif;
  src: url("../fonts/NEOSANSCYR-REGULAR.TTF") format("truetype");
}

@font-face {
  font-family: 'Neo Sans Pro Medium', sans-serif;
  src: url("../fonts/NEOSANSCYR-MEDIUM.TTF") format("truetype");
}