/*********************************************
*********** fonts
**********************************************/

@font-face {
  font-family: 'Neo Sans Pro', sans-serif;
  src: url('../fonts/NeoSansCyr-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/NeoSansCyr-Regular.woff') format('woff'), url('../fonts/NEOSANSCYR-REGULAR.TTF')  format('truetype'), url('../fonts/NeoSansCyr-Regular.svg#NeoSansCyr-Regular') format('svg');
}

@font-face {
  font-family: 'Neo Sans Pro Medium', sans-serif;
  src: url('../fonts/NeoSansCyr-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/NeoSansCyr-Medium.woff') format('woff'), url('../fonts/NEOSANSCYR-MEDIUM.TTF')  format('truetype'), url('../fonts/NeoSansCyr-Medium.svg#NeoSansCyr-Medium') format('svg');
}