/*********************************************
*********** general
**********************************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
  @include regular;
  line-height: 1;
  color: $color-dark;
}

a,
button {
  transition: .4s;
  cursor: pointer;
}

a {
  text-decoration: underline;
  color: $color-red;

  &:hover {
    text-decoration: none;
    color: $color-red;
  }

}

img,
svg {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
  margin: auto;
}

button {
  background: none;
  border: none;
}

.slide:hover,
.slide:active,
.slide:focus,
a:hover,
a:active,
a:focus,
button:hover,
button:active,
button:focus,
input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus {
  outline: none;
}

input:hover,
input:active,
input:focus {
  border: none;
  box-shadow: none;
  border-radius: 0;
}

input::-webkit-input-placeholder {
  font-family: 'Exo 2', sans-serif;
  @include regular;
  font-size: 15px;
  color: #90979a;
  opacity: 1;
}

input::-moz-placeholder {
  font-family: 'Exo 2', sans-serif;
  @include regular;
  font-size: 15px;
  color: #90979a;
  opacity: 1;
}

input:-moz-placeholder {
  font-family: 'Exo 2', sans-serif;
  @include regular;
  font-size: 15px;
  color: #90979a;
  opacity: 1;
}

input:-ms-input-placeholder {
  font-family: 'Exo 2', sans-serif;
  @include regular;
  font-size: 15px;
  color: #90979a;
  opacity: 1;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

label {
  display: block;
  width: 100%;
  position: relative;

  input:not([type='checkbox']),
  input:not([type='radio']) {
    display: block;
    width: 100%;
    height: 50px;
    border: 2px solid $color-grey;
    padding: 0 20px;
  }

  .field-clear {
    display: none;
    width: 9px;
    height: 9px;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    transition: .4s;

    &.active {
      display: block;
    }

    &:hover {
      transform: scale(1.3);
    }

  }

}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  min-width: 320px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  opacity: 0;
}

main {
  display: block;
  width: 100%;
  flex-grow: 1;
  padding: 0 0 45px;
}

p {
  font-size: 15px;
  line-height: 24px;
  margin: 0;
}

h1 {
  font-size: $font-size-title;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  color: $color-dark;
  font-size: $font-size-title;
  text-transform: uppercase;
  @include regular;
  font-weight: 400;
}

section {
  padding: 40px 0 0;
}

.to-top {
  display: none;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 50px;
  bottom: 0;
  top: 0;
  margin: auto;
  background: $color-red;
  cursor: pointer;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);

  img {
    transform: rotate(90deg);
  }

  &:hover,
  &:focus,
  &:active {
    -webkit-animation-name: to-top-hover;
    animation-name: to-top-hover;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }

  &.active {
    display: flex;
  }

}

@-webkit-keyframes to-top-hover {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes to-top-hover {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

aside {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}

.custom-select {
  width: 270px;
  height: 50px;
  font-size: 15px;
  color: #90979a;
  border: 1px solid $color-grey;
  background: #fff url(../images/icon-angle-down.png) no-repeat right .75rem center;
  border-radius: 0;
}

.table-header {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  border-top: 2px solid $color-grey;
  border-bottom: 2px solid $color-grey;
}

.table-header > div {
  display: flex;
  align-items: center;
  border-right: 1px solid $color-grey;

  &:last-of-type {
    border-right: none;
  }

}

.table-body {
  width: 100%;
}

.table-item {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  background: #f4fbff;

  &:nth-of-type(2n) {
    background: #f8f8f8;
  }

  > div {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    font-size: 12px;
    line-height: 16px;
    border-right: 1px solid $color-grey;
    border-bottom: 2px solid #fff;

    &:last-of-type {
      border-right: none;
    }

  }

}

@media(min-width: 1200px) {

  .container {
    max-width: 1200px;
  }

}

@media(max-width: 1199px) {

}

@media(max-width: 991px) {

}

@media(max-width: 767px) {

}

@media(max-width: 575px) {

  h1 {
    font-size: 20px;
  }

}