extends ../layout/main

block title
    | Main page

block content
    include ../modules/banner-main
    include ../modules/catalog
    include ../modules/products-slider
    include ../modules/previews