extends ../layout/layout

block title
    | Page news

block content
    div(class='container')
        div(class='row')

            div(class='col-12')
                include ../modules/breadcrumbs

        div(class='row')

            div(class='col-12 col-md-3 d-flex align-items-stretch')
                aside
                    include ../modules/banner-aside
                    include ../modules/previews-short
                    include ../modules/previews-full

            div(class='col-12 col-md-9')
                include ../modules/news