extends ../layout/layout

block title
    | Page cart

block content
    div(class='container')
        div(class='row')
            div(class='col-12')
                include ../modules/breadcrumbs
    include ../modules/cart-history
    include ../modules/cart
    include ../modules/cart-contact