extends ../layout/layout-brand

block title
    | Page catalog brand

block content
    div(class='container')
        div(class='row')
            div(class='col-12')
                include ../modules/breadcrumbs
    include ../modules/catalog-brand