/*********************************************
*********** about
**********************************************/

.about {
  position: relative;
  padding: 0;

  h1 {
    margin: 0 0 10px;
    padding: 0 300px 0 0;
  }

  h2 {
    text-align: left;
    color: $color-red;
    font-size: 22px;
    text-transform: none;
    margin: 0 0 10px;
    padding: 0 300px 0 0;
  }

  h3 {
    @include medium;
    font-size: 18px;
    margin: 10px 0 8px;
  }

  .custom-select {
    position: absolute;
    right: 0;
    top: 0;
  }

}

.about-brand {
  padding: 0 0 15px;
  border-bottom: 1px solid $color-grey;
}

.about-brand:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

.about-brand-description {
  font-size: 15px;
  line-height: 24px;
}

.about-brand-category {

  h4 {
    color: $color-red;
    font-size: 15px;
    padding: 0 0 0 15px;
    position: relative;
    margin: 15px 0 5px 0;

    &:after {
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #000;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }

  }

  p {
    font-size: 15px;
    line-height: 24px;
  }

}

@media(max-width: 1199px) {

}

@media(max-width: 991px) {

}

@media(max-width: 767px) {

  .about {

    .custom-select {
      position: static;
      margin: 0 0 30px;
    }

    h1,
    h2 {
      padding: 0;
    }

  }

}

@media(max-width: 575px) {

  .about {

    .link-see-all {
      margin: 10px 0;
    }

  }

}