/*********************************************
*********** footer
**********************************************/

footer {
  background: $color-grey;

  .container {
    padding: 35px 15px;
  }

}

.footer-logo {
  display: block;
  width: 100%;
  max-width: 130px;

  img {
    filter: grayscale(100%);
    opacity: .5;
    transition: .4s;
  }

  &:hover {

    img {
      filter: grayscale(0);
      opacity: 1;
    }

  }

}

.footer-copyright {

  span {
    display: block;
    font-size: 14px;
    line-height: 18px;
  }

}

.footer-tagline {
  font-size: 14px;
  line-height: 17px;
  @include medium;
  margin: 10px 0 0;
}

@media(max-width: 1199px) {

  footer {

    .phone-block {
      margin: 0 0 30px;
    }

  }

}

@media(max-width: 767px) {

  footer {

    .phone-block-link {
      font-size: 16px;
    }

    .phone-block-note {
      font-size: 12px;
    }

  }

}

@media(max-width: 575px) {

  .footer-logo {
    margin: 15px 0 30px;
  }

  footer {

    .container {
      padding: 20px 15px;
    }

    .phone-block {
      margin: 0 0 15px;
    }

    .metrika {
      margin: 15px 0 30px;
    }

    .phone-block-link {
      font-size: 14px;
    }

    .phone-block-note {
      font-size: 10px;
    }

  }

}

@media(max-width: 480px) {

  footer {

    .phone-block-link {
      font-size: 14px;
    }

    .phone-block-note {
      font-size: 10px;
      white-space: nowrap;
    }

  }

}

@media(max-width: 380px) {

  footer {

    .phone-block-link {
      font-size: 11px;
    }

    .phone-block-note {
      font-size: 8px;
    }

  }

}