/*********************************************
*********** footer
**********************************************/

footer[role='contentinfo'] {
  background: $color-grey;

  .container {
    padding: 35px 15px;
  }

}

.footer-logo {
  display: block;
  width: 100%;
  max-width: 130px;

  img {
    filter: grayscale(100%);
    opacity: .5;
    transition: .4s;
  }

  &:hover {

    img {
      filter: grayscale(0);
      opacity: 1;
    }

  }

}

.footer-copyright {

  span {
    display: block;
    font-size: 14px;
    line-height: 18px;
  }

}

.footer-tagline {
  font-size: 14px;
  line-height: 17px;
  font-family: $font-bold;
  margin: 10px 0 0;
}

@media(max-width: 1199px) {

  footer[role='contentinfo'] {

    .phone-block {
      margin: 30px 0;
    }

  }

}

@media(max-width: 991px) {

}

@media(max-width: 767px) {

  footer[role='contentinfo'] {

    .phone-block-link {
      font-size: 16px;
    }

  }

}

@media(max-width: 575px) {

  .footer-logo {
    margin: 0 0 30px;
  }

  footer[role='contentinfo'] {

    .phone-block {
      margin: 30px 0 0;
    }

    .metrika {
      margin: 30px 0 0;
    }

    .phone-block-link {
      font-size: 19px;
    }

  }

}