/*********************************************
*********** header
*********************************************/

header {
  flex-grow: 0;
  padding: 90px 0 0;
}

.header-top {
  background: url(../images/background-header.jpg) no-repeat center;
  background-size: cover;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1001;
  transform: translateZ(0);

  .row {
    position: relative;
    padding: 20px 15px 20px 320px;
  }

}

.header-local {
  position: absolute;
  left: 15px;
  top: 20px;
  z-index: 1;
}

.header-local-item {
  display: inline-block;
  padding: 5px 10px;
  @include medium;
  font-size: 12px;
  text-transform: uppercase;
}

.header-top .header-local .header-local-item.active {
  background: $color-dark;
  color: #fff;
  cursor: default;
}

.header-logo {
  display: block;
  width: 257px;
  position: absolute;
  left: 15px;
  top: 20px;
  text-align: center;
  text-decoration: none;
  transition: .4s;
  margin: 0 auto;

  img {
    transition: .4s;
  }

}

.header-logo-tagline {
  font-size: 14px;
  line-height: 18px;
  margin: 10px 0 0;
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 60px 0 0;
  order: 1;
}

.header-submenu {
  margin: 0 20px 0 0;
  padding: 5px 0;
  cursor: pointer;
  position: relative;
}

.header-submenu-label {
  @include medium;
  font-size: 15px;
  color: $color-dark;
  padding: 0 20px 0 0;
  position: relative;

  &:after {
    content: '';
    display: block;
    width: 11px;
    height: 7px;
    background: url(../images/icon-angle-down.png) no-repeat;
    background-size: cover;
    position: absolute;
    right: 3px;
    top: 5px;
    transition: .4s;
  }

}

.header-submenu-dropdown {
  display: none;
  width: 200px;
  padding: 10px;
  background: $color-red;
  position: absolute;
  left: -10px;
  top: 100%;
}

.header-submenu-item {
  display: block;
  @include medium;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  padding: 5px 0;
  border-top: 1px solid rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: .4s;

  &:hover {
    border-top: 1px solid rgba(255, 255, 255, .75);
    border-bottom: 1px solid rgba(255, 255, 255, .75);
    color: #fff;
  }

}

.header-submenu.active {

  .header-submenu-label:after {
    transform: rotate(-180deg);
  }

  .header-submenu-dropdown {
    display: block;
  }

}

.header-nav-item {
  @include medium;
  font-size: 15px;
  color: $color-dark;
  text-decoration: none;
  padding: 5px 0;
  margin: 0 20px 0 0;
  position: relative;

  &:last-of-type {
    margin: 0;
  }

}

.header-nav-marker {
  @include medium;
  color: $color-red;
  text-transform: uppercase;
  font-size: 10px;
  position: absolute;
  top: 2px;
  left: 100%;
}

.header-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 2;
}

.header-sign-icon {
  display: none;
}

.header-sign-in,
.header-sign-up {
  @include medium;
  border-bottom: 2px dashed $color-red;
  font-size: 15px;
  text-decoration: none;

  &:hover {
    border-bottom: 2px dashed transparent;
  }

}

.header-sign-text {
  @include medium;
  font-size: 15px;
  margin: 0 5px;
}

.header-catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 50px;
  box-shadow: inset 0 0 0 2px #fff;
  text-decoration: none;
  order: 3;
}

.header-catalog-burger {
  width: 15px;
  transition: .4s;
}

.header-catalog-text {
  @include bold;
  font-size: 14px;
  margin: 0 0 0 10px;
  transition: .4s;

  span {
    font-weight: inherit;
  }

}

.header-catalog:hover {
  box-shadow: inset 0 0 0 4px #fff;
}

.header-top .header-local .header-local-item:not(.active):hover {
  color: $color-red;
}

.header-info {
  min-height: 177px;

  .container {
    padding: 30px 15px;
  }

}

.header-callback {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-callback-icon {
  margin: 0 10px 0 0;
  flex-shrink: 0;
}

.header-callback-text {
  font-size: 16px;
  color: $color-red;
  text-decoration: underline;
  transition: .4s;
}

.header-callback:hover {

  .header-callback-text {
    text-decoration: none;
  }

}

.form-search {
  display: flex;
  width: 100%;
  height: 50px;
  margin: 0 0 30px;

  label {
    display: block;
    width: calc(100% - 50px);
    height: 100%;
    margin: 0;
  }

  input {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 25px;
    border: 2px solid $color-grey;
    border-radius: 0;
    border-right: none;
    transition: .4s;

    &:focus {
      border: 2px solid $color-red;
      border-right: none;
    }

  }

  button[type='submit'] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: $color-red;

    img {
      max-width: 80%;
      transition: .4s;
    }

    &:hover {

      img {
        transform: scale(0.8);
      }

    }

  }

}

.phone-block-link {
  font-size: 19px;
  text-decoration: none;
}

.phone-block-note {
  display: block;
  font-size: 13px;
  color: $color-light;
  margin: 5px 0 0;
}

.header-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 50px;
  padding: 0 50px 0 0;
  position: relative;
  background: $color-grey;
  transition: .4s;
  margin: 0 0 30px;
}

.header-cart-icon {
  display: block;
  width: 16px;
  height: 16px;
  background: url(../images/icon-cart.png) no-repeat;
  margin: 0 10px 0 0;
}

.header-cart-text {
  @include bold;
  font-size: 14px;
  text-transform: uppercase;
  transition: .4s;
}

.header-cart-value {
  display: block;
  width: 50px;
  height: 50px;
  background: $color-red;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}

.header-cart:hover {
  background: $color-dark;

  .header-cart-icon {
    background: url(../images/icon-cart-white.png) no-repeat;
  }

  .header-cart-text {
    color: #fff;
  }

}

.header-email {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
}

.header-email-icon {
  margin: 0 10px 0 0;
}

.header-email-text {
  color: $color-red;
}

.header-top.shortest {
  position: fixed;
  top: -1000px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .25);

  .row {
    position: relative;
    padding: 20px 15px;
    flex-wrap: nowrap;
  }

  .header-logo {
    display: none;
  }

  .header-local {
    position: static;
    text-align: center;
    margin: 0 0 30px;
  }

  .header-local .header-local-item {
    font-size: 14px;
    background: transparent;
    color: #fff;
  }

  .header-local .header-local-item.active {
    background: transparent;
    color: $color-red;
  }

  .burger {
    display: block;
    order: 1;
    flex-shrink: 0;
    flex-grow: 0;
    cursor: pointer;
  }

  .header-sign {
    order: 2;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 0 40px 0 20px;
  }

  .form-search {
    order: 3;
    flex-shrink: 1;
    flex-grow: 1;
    margin: 0;

    input {
      border: 2px solid #fff;

      &:focus {
        border: 2px solid $color-red;
        border-right: none;
      }

    }

  }

  .header-cart {
    order: 4;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 0 35px;
  }

  .header-catalog {
    order: 5;
    flex-shrink: 0;
    flex-grow: 0;
  }

  .header-sign-icon {
    display: block;
  }

  .header-sign-in,
  .header-sign-up,
  .header-sign-text {
    display: none;
  }

  .header-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px 0 0;
    order: inherit;
  }

  .header-submenu {
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
    min-width: 320px;
  }

  .header-submenu-label {
    @include medium;
    display: block;
    font-size: 20px;
    padding: 5px 0;
    margin: 5px 0;
    color: #fff;

    &:after {
      display: none;
    }

  }

  .header-submenu-dropdown {
    display: block;
    width: calc(100% - 100px);
    padding: 0;
    margin: 0 auto 20px;
    background: none;
    position: static;
  }

  .header-submenu-item {
    font-size: 16px;
    padding: 10px 0;
    margin: 3px 0;
    color: #fff;
    @include medium;
    text-decoration: none;
    border: none;

    &:hover {
      border: none;
      color: $color-dark;
    }

  }

  .header-nav-item {
    display: inline-block;
    font-size: 20px;
    padding: 10px 0;
    margin: 5px 0;
    color: #fff;
  }

  .header-nav-marker {
    @include medium;
    color: $color-red;
    text-transform: uppercase;
    font-size: 10px;
    position: absolute;
    top: 2px;
    left: 100%;
  }

}

.header-top.fixed {
  transition: .5s;
  top: 0;

  .mobile-nav {
    display: block;
    width: 100%;
    height: calc(100vh - 90px);
    overflow: auto;
    position: fixed;
    left: 0;
    top: 2000px;
    background: rgba(0, 0, 0, .75);
    padding: 50px 25px;
    transition: .8s;

    &.active {
      top: 90px;
    }

  }

}

.header-cart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.burger {
  display: none;

  img {
    width: 28px;
  }

  img:last-of-type {
    display: none;
  }

  &.active {

    img:first-of-type {
      display: none;
    }

    img:last-of-type {
      display: block;
    }

  }

}

@media(max-width: 1199px) {

  .header-top.shortest {

    .header-local {
      display: block;
    }

  }

  .header-info {
    min-height: 0;

    .container {
      padding: 15px 15px;
    }

  }

  .header-cart {
    display: flex;
    margin: 15px 0;
  }

  .header-email,
  .header-callback {
    margin: 10px;
  }

  .header-info .phone-block {
    margin: 10px 0;
  }

  .header-info .phone-block-link {
    font-size: 15px;
  }

  .header-info .phone-block-note {
    font-size: 10px;
  }

  .header-email-text,
  .header-callback-text {
    font-size: 12px;
    padding: 0 0 3px;
  }

}

@media(max-width: 991px) {

  .header-catalog {
    width: auto;
    padding: 0 15px;
  }

  .header-catalog-text span {
    display: none;
  }

  .header-info .phone-block-link {
    font-size: 16px;
  }

  .header-info .phone-block-note {
    font-size: 12px;
  }

  .header-email-text,
  .header-callback-text {
    font-size: 14px;
  }

  .header-top.shortest {

    .header-sign {
      margin: 0 20px;
    }

    .header-cart {
      margin: 0 20px;
      padding: 0 65px 0 15px;
    }

  }

  .header-cart {
    width: auto;
  }



}

@media(max-width: 767px) {

  .header-top.shortest .header-cart {
    margin: 0 0 0 20px;
  }

  .header-cart-icon {
    margin: 0;
  }

  .header-cart-text {
    display: none;
  }

  .header-catalog,
  .header-sign {
    display: none;
  }

  .burger {
    margin: 0 20px 0 0;
  }

}

@media(max-width: 575px) {

  .header-email,
  .header-callback {
    width: auto;
    margin: 10px 0 0;
  }

  .header-email-text,
  .header-callback-text {
    font-size: 12px;
  }

}

@media(max-width: 480px) {

  header {
    padding: 70px 0 0;
  }

  .header-top.shortest .row {
    padding: 10px 15px;
  }

  .header-top.fixed .mobile-nav {
    height: calc(100vh - 70px);

    &.active {
      top: 70px;
    }

  }

  .header-email-text,
  .header-callback-text {
    font-size: 10px;
    white-space: nowrap;
  }

  .header-email-icon,
  .header-callback-icon {
    width: 14px;
    margin: 0 5px 0 0;
  }

}

@media(max-width: 380px) {

  header {
    padding: 54px 0 0;
  }

  .header-top.fixed .mobile-nav {
    height: calc(100vh - 54px);

    &.active {
      top: 54px;
    }

  }

  .form-search {
    height: 34px;

    label {
      width: calc(100% - 34px);
    }

    input {
      padding: 0 15px;
    }

    button[type='submit'] {
      width: 34px;
      height: 34px;

      img {
        max-width: 70%;
      }

    }

  }

  .header-top.shortest .header-cart {
    height: 34px;
    padding: 0 49px 0 15px;
  }

  .header-cart-value {
    width: 34px;
    height: 34px;
    line-height: 34px;
  }

}