/*********************************************
*********** products
**********************************************/

.products-header {
  padding: 0 0 0 110px;
  position: relative;

  p {
    font-size: 15px;
    line-height: 24px;
  }

}

.products-header-image {
  width: 75px;
  position: absolute;
  left: 0;
  top: 0;
}

.form-products-search {
  display: flex;
  margin: 30px 0;

  label {
    margin: 0 20px 0 0;
    position: relative;

    &:nth-of-type(1) {
      width: 200px;
      flex-shrink: 0;
    }

    &:nth-of-type(2) {
      width: 270px;
      flex-shrink: 0;
    }

    &:nth-of-type(3) {
      flex-shrink: 1;
      flex-grow: 1;
    }

    input {
      padding: 0 30px 0 20px;
    }

  }

  button[type='submit'] {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #52595c;

    &:hover {
      background: $color-red;
    }

  }

}

.products-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f0f0f0;
  padding: 0 0 0 20px;
}

.pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  a {
    height: 50px;
    padding: 0 5px;
    font-size: 15px;
    line-height: 50px;
    text-decoration: none;
    color: #000;

    &:hover {
      color: $color-red
    }

    &.active {
      background: $color-red;
      color: #fff;
      padding: 0 10px;
      cursor: default;

      &:hover {
        color: #fff;
      }

    }

  }

}

.products-show-amount {
  position: relative;
  user-select: none;

  input {
    display: none;
  }

  ul {
    display: none;
    position: absolute;
    right: 0;
    top: calc(100% + 5px);
    background: $color-red;
    border: 1px solid $color-red;
    z-index: 1;

    li {
      display: block;
      color: #fff;
      cursor: pointer;
      padding: 5px 10px;

      &:hover {
        background: #fff;
        color: $color-red;
      }

    }

  }

}

.products-show-amount-current {
  display: inline-block;
  width: 40px;
  font-size: 15px;
  @include medium;
  cursor: pointer;

  &:hover {
    color: $color-red;
  }

  &:after {
    content: '';
    display: inline-block;
    width: 11px;
    height: 7px;
    background: url(../images/icon-angle-down.png) no-repeat 0 0;
    margin: 0 0 1px 3px;
    transition: .4s;
  }

}

.products-show-amount-text {
  font-size: 15px;
  @include medium;
  margin: 0 10px 0 0;
}

.products-show-amount.active {

  ul {
    display: block;
  }

  .products-show-amount-current {

    &:after {
      transform: rotate(180deg);
    }

  }

}

.pagination-text {
  font-size: 15px;
  color: #52595c;
  margin: 0 5px 0 0;
}

.products-view {
  display: flex;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    background: #52595c;
    border: 2px solid #52595c;

    &:hover {
      border: 2px solid $color-red;
    }

    &.active {
      background: $color-red;
      border: 2px solid $color-red;
      cursor: default;
    }

  }

}

.products-wrap {
  width: 100%;
  margin: 20px 0 0;
}

.products-wrap-header-item {
  padding: 12px 25px 12px 12px;
  font-size: 10px;
  text-transform: uppercase;
  @include medium;
  position: relative;

  &:nth-of-type(1) {
    width: 10%;
    justify-content: center;
    padding: 0;
  }

  &:nth-of-type(2) {
    width: 15%;
  }

  &:nth-of-type(3) {
    width: 20%;
  }

  &:nth-of-type(4) {
    width: 15%;
  }

  &:nth-of-type(5) {
    width: 16%;
  }

  &:nth-of-type(6) {
    width: 8%;
    padding: 12px;
  }

  &:nth-of-type(7) {
    width: 8%;
  }

  &:nth-of-type(8) {
    width: 8%;
    justify-content: center;
    padding: 0;
  }

}

.view-order-control {
  display: block;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-dark;

  &:after {
    content: '';
    display: block;
    width: 11px;
    height: 7px;
    background: url(../images/icon-angle-down.png) no-repeat 0 0;
    transition: .4s;
    position: absolute;
    right: 7px;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &.active:after {
    transform: rotate(180deg);
  }

}

.products-item-image {
  width: 10%;
  justify-content: center;
  padding: 0;

  a {
    display: block;
    width: 100%;
    padding-top: 85%;
    overflow: hidden;
    background: url(../images/image-picture-empty.png) no-repeat 0 0;
    background-size: cover;
    position: relative;
    box-shadow:  0 0 0 2px transparent;

    &:hover {
      box-shadow:  0 0 0 2px $color-red;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: auto;
      z-index: 2;
    }

  }

}

.products-item-code {
  width: 15%;
}

.products-item-name {
  width: 20%;
  display: flex;
  align-items: center;
  padding: 15px 10px;
  font-size: 12px;
  line-height: 16px;
  border-right: 1px solid #e3e3e3;
  border-bottom: 2px solid #fff;
  color: $color-dark;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $color-dark;
  }

}

.products-item-brand {
  width: 15%;
  display: flex;
  align-items: center;
  padding: 15px 10px;
  font-size: 12px;
  line-height: 16px;
  border-right: 1px solid #e3e3e3;
  border-bottom: 2px solid #fff;
  color: $color-dark;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $color-dark;
  }

}

.products-item-data {
  width: 16%;
}

.products-item-presence {
  width: 8%;
}

.products-item-cost {
  width: 8%;
  justify-content: center;
}

.products-item .products-item-order {
  width: 8%;
  justify-content: center;
  border-right: none;
  padding: 0;
}

.product-presence-now {
  display: block;
  width: 22px;
  height: 22px;
  background: url(../images/icon-presence-now.png) no-repeat 0 0;
  margin: 0 auto;
}

.product-presence-later {
  display: block;
  width: 29px;
  height: 19px;
  background: url(../images/icon-presence-later.png) no-repeat 0 0;
  margin: 0 auto;
}

.product-presence-order {
  display: block;
  width: 26px;
  height: 24px;
  background: url(../images/icon-presence-order.png) no-repeat 0 0;
  margin: 0 auto;
}

.products-wrap-grid {

  .products-wrap-header {
    display: none;
  }

  .products-grid {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 0 0 -30px;
  }

  .products-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 270px;
    position: relative;
    box-shadow: 0 0 0 1px $color-grey;
    transition: .4s;
    margin: 0 30px 30px 0;
    padding: 215px 0 0;
    text-align: center;

    & > div:not(.products-item-image) {
      width: 100%;
      padding: 0 10px;
    }

    &:nth-of-type(3n) {
      margin: 0 0 30px 0;
    }

    &:hover {
      box-shadow: 0 0 25px 0 $color-grey;
    }

  }

  .products-item-image {
    width: 270px;
    height: 195px;
    position: absolute;
    left: 0;
    top: 0;

    a {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 0;
      background: #f0f0f0 url(../images/image-picture-empty-mobile.png) no-repeat center 30%;

      &:before {
        content: 'фотография отсутствует';
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 25%;
        text-align: center;
        text-transform: uppercase;
        @include bold;
        font-size: 14px;
        line-height: 17px;
      }

    }

    img {
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      max-width: none;
    }

  }

  .products-item-code {
    color: #6a7275;
    font-size: 14px;
    line-height: 22px;
  }

  .products-item-name {
    display: block;
    width: 100%;
    border: none;
    font-size: 20px;
    line-height: 26px;
    height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    margin: 5px 0 0;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }

  }

  .products-item-brand {
    font-size: 20px;
    line-height: 26px;
    height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    border: none;
    padding: 0 10px;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 0 0 15px;

    &:hover {
      text-decoration: none;
    }

  }

  .products-item-data {
    display: none;
  }

  .products-item-presence {

    & > div {
      background: none;
      width: auto;
      height: auto;

      &:before {
        display: inline-block;
        background: #f0f0f0;
        padding: 5px 10px;
        font-size: 15px;
        color: #000;
      }

      &.product-presence-now:before {
        content: 'В пути';
      }

      &.product-presence-later:before {
        content: 'Под заказ';
      }

      &.product-presence-order:before {
        content: 'В наличии';
      }

    }

  }

  .products-item-cost {
    margin: 20px 0 25px;
    font-size: 27px;
    line-height: 24px;
    @include medium;

    &.cost-absent {
      color: $color-red;
      font-size: 16px;
      text-transform: uppercase;
      line-height: 1;
      @include bold;
      margin: 15px 0 20px;
    }

  }

  .products-item-order {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 10px!important;
    border-top: 1px solid $color-grey;
    transition: .4s;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: $color-dark;

      &:hover {
        color: $color-red;
      }

    }

    a:after {
      content: 'Добавить в запрос';
      display: block;
      font-size: 12px;
      @include bold;
      line-height: 1;
      padding: 0 0 5px;
      margin: 0 0 0 10px;
      text-transform: uppercase;
      color: inherit;
      transition: .4s;
    }

    &:hover {
      background: #f0f0f0;

      a:after {
        margin: 0 0 0 5px;
      }

    }

  }

}

@media(max-width: 1199px) {

  .products-wrap-header-item {
    padding: 12px 25px 12px 10px;

    &:nth-of-type(1) {
      display: none;
    }

    &:nth-of-type(2) {
      width: 17%;
    }

    &:nth-of-type(3) {
      width: 19%;
    }

    &:nth-of-type(4) {
      width: 19%;
    }

    &:nth-of-type(5) {
      width: 20%;
    }

    &:nth-of-type(6) {
      width: 11%;
      padding: 12px;
    }

    &:nth-of-type(7) {
      width: 11%;
    }

    &:nth-of-type(8) {
      width: 8%;
    }

  }

  .products-item-code {
    width: 17%;
  }

  .products-item-name {
    width: 19%;
  }

  .products-item-brand {
    width: 19%;
  }

  .products-item-data {
    width: 20%;
  }

  .products-item-presence {
    width: 11%;
  }

  .products-item-cost {
    width: 11%;
  }

  .products-item .products-item-order {
    width: 8%;
  }

  .form-products-search {

    label {
      margin: 0 20px 0 0;

      &:nth-of-type(1) {
        width: auto;
        flex-shrink: 1;
      }

      &:nth-of-type(2) {
        width: auto;
        flex-shrink: 1;
      }

      &:nth-of-type(3) {
        width: auto;
        flex-shrink: 1;
      }

    }

  }

  .products-item .products-item-image {
    display: none;
  }

  .products-wrap-grid {

    .products-grid {
      margin: 0 0 -15px;
    }

    .products-item {
      width: 220px;
      margin: 0 15px 15px 0;
      padding: 170px 0 0;

      &:nth-of-type(3n) {
        margin: 0 0 15px 0;
      }

      &:hover {
        box-shadow: 0 0 0 1px $color-grey;
      }

    }

    .products-item .products-item-image {
      display: block;
      width: 220px;
      height: 155px;

      a {

        &:before {
          font-size: 12px;
          line-height: 15px;
        }

      }

    }

    .products-item-name {
      font-size: 18px;
      line-height: 24px;
      height: 24px;
      margin: 0;
    }

    .products-item-brand {
      font-size: 18px;
      line-height: 24px;
      height: 24px;
      margin: 0 0 10px;

      &:hover {
        text-decoration: none;
      }

    }

    .products-item-presence {

      & > div {

        &:before {
          padding: 3px 8px;
          font-size: 13px;
        }

      }

    }

    .products-item-cost {
      margin: 15px 0 20px;
      font-size: 24px;
      line-height: 21px;

      &.cost-absent {
        font-size: 14px;
        margin: 10px 0 15px;
      }

    }

    .products-item-order {
      padding: 15px 10px!important;
    }

  }

}

@media(max-width: 991px) {

  .form-products-search {
    flex-wrap: wrap;

    label {
      margin: 0 0 20px;

      &:nth-of-type(1) {
        width: 100%;
      }

      &:nth-of-type(2) {
        width: 100%;
      }

      &:nth-of-type(3) {
        width: calc(100% - 70px);
        margin: 0 20px 20px 0;
      }

    }

  }

  .products-filter {
    flex-wrap: wrap;
  }

  .pagination {
    width: 100%;
    margin: 10px 0;
  }

  .products-wrap-header-item {

    &:nth-of-type(2) {
      width: 25%;
    }

    &:nth-of-type(3) {
      width: 25%;
    }

    &:nth-of-type(4) {
      width: 25%;
    }

    &:nth-of-type(5) {
      display: none;
    }

    &:nth-of-type(6) {
      display: none;
    }

    &:nth-of-type(7) {
      width: 15%;
    }

    &:nth-of-type(8) {
      width: 10%;
    }

  }

  .products-item .products-item-data {
    display: none;
  }

  .products-item .products-item-presence {
    display: none;
  }

  .products-item-name {
    width: 25%;
  }

  .products-item-code {
    width: 25%;
  }

  .products-item-brand {
    width: 25%;
  }

  .products-item-cost {
    width: 15%;
    justify-content: flex-start;
  }

  .products-item .products-item-order {
    width: 10%;
  }

  .products-wrap-grid {

    .products-grid {
      margin: 0 0 -30px;
    }

    .products-item {
      width: 240px;
      padding: 185px 0 0;
      margin: 0 30px 30px 0;

      &:nth-of-type(3n) {
        margin: 0 30px 30px 0;
      }

      &:nth-of-type(2n) {
        margin: 0 0 30px 0;
      }

    }

    .products-item .products-item-image {
      width: 240px;
      height: 170px;
    }

  }

}

@media(max-width: 767px) {

  .products-header {
    margin: 30px 0 0;
  }

}

@media(max-width: 575px) {

  .products-header {
    padding: 0;
  }

  .products-header-image {
    position: static;
    margin: 0 0 15px;
  }

  .products-filter {
    padding: 0;
    justify-content: center;
  }

  .pagination {
    justify-content: center;
  }

  .pagination-text {
    display: none;
  }

  .products-view {
    margin: 20px 0 10px;
  }

  .products-wrap-header-item {

    &:nth-of-type(2) {
      width: 25%;
    }

    &:nth-of-type(3) {
      width: 30%;
    }

    &:nth-of-type(4) {
      width: 30%;
    }

    &:nth-of-type(7) {
      display: none;
    }

    &:nth-of-type(8) {
      width: 15%;
    }

  }

  .products-item-name {
    width: 30%;
  }

  .products-item-code {
    width: 25%;
  }

  .products-item-brand {
    width: 30%;
  }

  .products-item .products-item-order {
    width: 15%;
  }

  .products-item .products-item-cost {
    display: none;
  }

  .products-wrap-grid {

    .products-grid {
      display: block;
      margin: 0;
    }

    .products-item {
      margin: 0 auto 30px;

      &:nth-of-type(2n),
      &:nth-of-type(3n) {
        margin: 0 auto 30px;
      }

    }

    .products-item .products-item-image {
      padding: 0;
    }

    .products-item-cost {
      display: block;
    }

  }

}

@media(max-width: 480px) {

  .products-wrap-header-item {
    padding: 12px 20px 12px 5px;
    font-size: 8px;
    line-height: 12px;
  }

  .view-order-control {
    font-size: 8px;
    line-height: 12px;

    &:after {
      right: 2px;
    }

  }

  .products-item > div {
    padding: 10px 5px;
    font-size: 10px;
    line-height: 14px;
  }

}