/*********************************************
*********** products
**********************************************/

.products-header {
  padding: 0 0 0 110px;
  position: relative;

  p {
    font-size: 15px;
    line-height: 24px;
  }

}

.products-header-image {
  width: 75px;
  position: absolute;
  left: 0;
  top: 0;
}

.form-products-search {
  display: flex;
  margin: 30px 0;

  label {
    margin: 0 20px 0 0;
    position: relative;

    &:nth-of-type(1) {
      width: 200px;
      flex-shrink: 0;
    }

    &:nth-of-type(2) {
      width: 270px;
      flex-shrink: 0;
    }

    &:nth-of-type(3) {
      flex-shrink: 1;
      flex-grow: 1;
    }

    input {
      padding: 0 30px 0 20px;
    }

  }

  button[type='submit'] {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #52595c;

    &:hover {
      background: $color-red;
    }

  }

  .field-clear {
    display: none;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 18px;
    color: $color-red;
    cursor: pointer;

    &.active {
      display: block;
    }

    &:hover {
      font-weight: 700;
    }

  }

}

.products-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f0f0f0;
  padding: 0 0 0 20px;
}

.products-pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  a {
    height: 50px;
    padding: 0 5px;
    font-size: 15px;
    line-height: 50px;
    text-decoration: none;
    color: #000;

    &:hover {
      color: $color-red
    }

    &.active {
      background: $color-red;
      color: #fff;
      padding: 0 10px;
      cursor: default;

      &:hover {
        color: #fff;
      }

    }

  }

}

.products-show-amount {
  position: relative;
  user-select: none;

  input {
    display: none;
  }

  ul {
    display: none;
    position: absolute;
    right: 0;
    top: calc(100% + 5px);
    background: $color-red;
    border: 1px solid $color-red;
    z-index: 1;

    li {
      display: block;
      color: #fff;
      cursor: pointer;
      padding: 5px 10px;

      &:hover {
        background: #fff;
        color: $color-red;
      }

    }

  }

}

.products-show-amount-current {
  display: inline-block;
  width: 40px;
  font-size: 15px;
  @include medium;
  cursor: pointer;

  &:hover {
    color: $color-red;
  }

  &:after {
    content: '';
    display: inline-block;
    width: 11px;
    height: 7px;
    background: url(../images/icon-angle-down.png) no-repeat 0 0;
    margin: 0 0 1px 3px;
    transition: .4s;
  }

}

.products-show-amount-text {
  font-size: 15px;
  @include medium;
  margin: 0 10px 0 0;
}

.products-show-amount.active {

  ul {
    display: block;
  }

  .products-show-amount-current {

    &:after {
      transform: rotate(180deg);
    }

  }

}

.products-pagination-text {
  font-size: 15px;
  color: #52595c;
  margin: 0 5px 0 0;
}

.products-view {
  display: flex;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    background: #52595c;
    border: 2px solid #52595c;

    &:hover {
      border: 2px solid $color-red;
    }

    &.active {
      background: $color-red;
      border: 2px solid $color-red;
    }

  }

}

.products-list-wrap {
  width: 100%;
  margin: 20px 0 0;
}

.products-list-header {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  border-top: 2px solid $color-grey;
  border-bottom: 2px solid $color-grey;
}

.products-list-header-item {
  display: flex;
  align-items: center;
  padding: 12px 25px 12px 12px;
  font-size: 10px;
  text-transform: uppercase;
  @include medium;
  border-right: 1px solid $color-grey;
  position: relative;

  &:nth-of-type(1) {
    width: 10%;
    justify-content: center;
    padding: 0;
  }

  &:nth-of-type(2) {
    width: 15%;
  }

  &:nth-of-type(3) {
    width: 20%;
  }

  &:nth-of-type(4) {
    width: 15%;
  }

  &:nth-of-type(5) {
    width: 16%;
  }

  &:nth-of-type(6) {
    width: 8%;
    padding: 12px;
  }

  &:nth-of-type(7) {
    width: 8%;
  }

  &:nth-of-type(8) {
    width: 8%;
    justify-content: center;
    border-right: none;
    padding: 0;
  }

}

.view-order-control {
  display: block;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-dark;

  &:after {
    content: '';
    display: block;
    width: 11px;
    height: 7px;
    background: url(../images/icon-angle-down.png) no-repeat 0 0;
    transition: .4s;
    position: absolute;
    right: 7px;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &.active:after {
    transform: rotate(180deg);
  }

}

.products-list {
  width: 100%;
}

.products-item {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  background: #f4fbff;

  &:nth-of-type(2n) {
    background: #f8f8f8;
  }

}

.products-item > div {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  font-size: 12px;
  line-height: 16px;
  border-right: 1px solid $color-grey;
  border-bottom: 2px solid #fff;
}

.products-item-image {
  width: 10%;
  justify-content: center;
  padding: 0;

  a {
    display: block;
    width: 100%;
    padding-top: 85%;
    overflow: hidden;
    background: url(../images/image-picture-empty.png) no-repeat 0 0;
    background-size: cover;
    position: relative;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: auto;
    }

    &:hover {
      box-shadow: 0 0 0 1px $color-red;
    }

  }

}

.products-item-code {
  width: 15%;
}

.products-item-name {
  width: 20%;
}

.products-item-brand {
  width: 15%;
}

.products-item-data {
  width: 16%;
}

.products-item-presence {
  width: 8%;
}

.products-item-cost {
  width: 8%;
  justify-content: center;
}

.products-item .products-item-order {
  width: 8%;
  justify-content: center;
  border-right: none;
  padding: 0;
}

.product-presence-now {
  display: block;
  width: 22px;
  height: 22px;
  background: url(../images/icon-presence-now.png) no-repeat 0 0;
  margin: 0 auto;
}

.product-presence-later {
  display: block;
  width: 29px;
  height: 19px;
  background: url(../images/icon-presence-later.png) no-repeat 0 0;
  margin: 0 auto;
}

.product-presence-order {
  display: block;
  width: 26px;
  height: 24px;
  background: url(../images/icon-presence-order.png) no-repeat 0 0;
  margin: 0 auto;
}

@media(max-width: 1199px) {

  .products-list-header-item {

    &:nth-of-type(1) {
      display: none;
    }

    &:nth-of-type(5) {
      width: 20%;
    }

    &:nth-of-type(6) {
      width: 10%;
      padding: 12px;
    }

    &:nth-of-type(7) {
      width: 10%;
    }

    &:nth-of-type(8) {
      width: 10%;
    }

  }

  .form-products-search {

    label {
      margin: 0 20px 0 0;

      &:nth-of-type(1) {
        width: auto;
        flex-shrink: 1;
      }

      &:nth-of-type(2) {
        width: auto;
        flex-shrink: 1;
      }

      &:nth-of-type(3) {
        width: auto;
        flex-shrink: 1;
      }

    }

  }

  .products-item .products-item-image {
    display: none;
  }

  .products-item-data {
    width: 20%;
  }

  .products-item-presence {
    width: 10%;
  }

  .products-item-cost {
    width: 10%;
  }

  .products-item .products-item-order {
    width: 10%;
  }

}

@media(max-width: 991px) {

  .form-products-search {
    flex-wrap: wrap;

    label {
      margin: 0 0 20px;

      &:nth-of-type(1) {
        width: 100%;
      }

      &:nth-of-type(2) {
        width: 100%;
      }

      &:nth-of-type(3) {
        width: calc(100% - 70px);
        margin: 0 20px 20px 0;
      }

    }

  }

  .products-filter {
    flex-wrap: wrap;
  }

  .products-pagination {
    width: 100%;
    margin: 10px 0;
  }

  .products-list-header-item {

    &:nth-of-type(2) {
      width: 25%;
    }

    &:nth-of-type(3) {
      width: 25%;
    }

    &:nth-of-type(4) {
      width: 25%;
    }

    &:nth-of-type(5) {
      display: none;
    }

    &:nth-of-type(6) {
      display: none;
    }

    &:nth-of-type(7) {
      width: 15%;
    }

    &:nth-of-type(8) {
      width: 10%;
    }

  }

  .products-item .products-item-data {
    display: none;
  }

  .products-item .products-item-presence {
    display: none;
  }

  .products-item-name {
    width: 25%;
  }

  .products-item-code {
    width: 25%;
  }

  .products-item-brand {
    width: 25%;
  }

  .products-item-cost {
    width: 15%;
  }

  .products-item .products-item-order {
    width: 10%;
  }

}

@media(max-width: 767px) {

  .products-header {
    margin: 30px 0 0;
  }

}

@media(max-width: 575px) {

  .products-header {
    padding: 0;
  }

  .products-header-image {
    position: static;
    margin: 0 0 15px;
  }

  .products-filter {
    padding: 0;
    justify-content: center;
  }

  .products-pagination {
    justify-content: center;
  }

  .products-pagination-text {
    display: none;
  }

  .products-view {
    margin: 20px 0 10px;
  }

  .products-list-header-item {

    &:nth-of-type(2) {
      width: 25%;
    }

    &:nth-of-type(3) {
      width: 30%;
    }

    &:nth-of-type(4) {
      width: 30%;
    }

    &:nth-of-type(7) {
      display: none;
    }

    &:nth-of-type(8) {
      width: 15%;
    }

  }

  .products-item-name {
    width: 30%;
  }

  .products-item-code {
    width: 25%;
  }

  .products-item-brand {
    width: 30%;
  }

  .products-item .products-item-order {
    width: 15%;
  }

  .products-item .products-item-cost {
    display: none;
  }

}

@media(max-width: 480px) {

  .products-list-header-item {
    padding: 12px 20px 12px 5px;
    font-size: 8px;
    line-height: 12px;
  }

  .view-order-control {
    font-size: 8px;
    line-height: 12px;

    &:after {
      right: 2px;
    }

  }

  .products-item > div {
    padding: 10px 5px;
    font-size: 10px;
    line-height: 14px;
  }

}