/*********************************************
*********** products
**********************************************/

.products-header {
  padding: 0 0 0 110px;
  position: relative;

  p {
    font-size: 15px;
    line-height: 24px;
  }

}

.products-header-image {
  width: 75px;
  position: absolute;
  left: 0;
  top: 0;
}

.form-products-search {
  display: flex;
  margin: 30px 0;

  label {
    margin: 0 20px 0 0;

    &:nth-of-type(1) {
      width: 200px;
      flex-shrink: 0;
    }

    &:nth-of-type(2) {
      width: 270px;
      flex-shrink: 0;
    }

    &:nth-of-type(3) {
      flex-shrink: 1;
      flex-grow: 1;
    }

  }

  button[type='submit'] {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #52595c;

    &:hover {
      background: $color-red;
    }

  }

}

.products-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f0f0f0;
  padding: 0 0 0 20px;
}

.products-pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  a {
    height: 50px;
    padding: 0 5px;
    font-size: 15px;
    line-height: 50px;
    text-decoration: none;
    color: #000;

    &:hover {
      color: $color-red
    }

    &.active {
      background: $color-red;
      color: #fff;
      padding: 0 10px;
      cursor: default;

      &:hover {
        color: #fff;
      }

    }

  }

}

.products-show-amount {
  position: relative;
  user-select: none;

  input {
    display: none;
  }

  ul {
    display: none;
    position: absolute;
    right: 0;
    top: calc(100% + 5px);
    background: $color-red;
    border: 1px solid $color-red;
    z-index: 1;

    li {
      display: block;
      color: #fff;
      cursor: pointer;
      padding: 5px 10px;

      &:hover {
        background: #fff;
        color: $color-red;
      }

    }

  }

}

.products-show-amount-current {
  display: inline-block;
  width: 40px;
  font-size: 15px;
  @include medium;
  cursor: pointer;

  &:hover {
    color: $color-red;
  }

  &:after {
    content: '';
    display: inline-block;
    width: 11px;
    height: 7px;
    background: url(../images/icon-angle-down.png) no-repeat 0 0;
    margin: 0 0 1px 3px;
    transition: .4s;
  }

}

.products-show-amount-text {
  font-size: 15px;
  @include medium;
  margin: 0 10px 0 0;
}

.products-show-amount.active {

  ul {
    display: block;
  }

  .products-show-amount-current {

    &:after {
      transform: rotate(180deg);
    }

  }

}

.products-pagination-text {
  font-size: 15px;
  color: #52595c;
  margin: 0 5px 0 0;
}

.products-view {
  display: flex;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    background: #52595c;
    border: 2px solid #52595c;

    &:hover {
      border: 2px solid $color-red;
    }

    &.active {
      background: $color-red;
      border: 2px solid $color-red;
    }

  }

}

.products-list-wrap {
  width: 100%;
  overflow: auto;
  margin: 20px 0 0;
}

.products-list-header {
  display: table;
  width: 100%;
  min-width: 870px;
  border-top: 2px solid $color-grey;
  border-bottom: 2px solid $color-grey;
}

.products-list-header-item {
  display: table-cell;
  vertical-align: middle;
  padding: 12px 25px 12px 12px;
  font-size: 10px;
  text-transform: uppercase;
  @include medium;
  border-right: 1px solid $color-grey;
  position: relative;

  &:nth-of-type(1) {
    width: 75px;
    text-align: center;
    padding: 0;
  }

  &:nth-of-type(2) {
    width: 120px
  }

  &:nth-of-type(3) {
    width: 185px;
  }

  &:nth-of-type(4) {
    width: 130px;
  }

  &:nth-of-type(5) {
    width: 140px;
  }

  &:nth-of-type(6) {
    width: 75px;
    padding: 12px;
  }

  &:nth-of-type(7) {
    width: 70px;
  }

  &:nth-of-type(8) {
    width: 75px;
    text-align: center;
    border-right: none;
    padding: 0;
  }

}

.view-order-control {
  display: block;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-dark;

  &:after {
    content: '';
    display: block;
    width: 11px;
    height: 7px;
    background: url(../images/icon-angle-down.png) no-repeat 0 0;
    transition: .4s;
    position: absolute;
    right: 7px;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &.active:after {
    transform: rotate(180deg);
  }

}

.products-list {
  display: table;
  width: 100%;
  min-width: 870px;
}

.products-item {
  display: table-row;
  width: 100%;
  border-bottom: 2px solid #fff;
  background: #f4fbff;

  &:nth-of-type(2n) {
    background: #f8f8f8;
  }

}

.products-item > div {
  display: table-cell;
  vertical-align: middle;
  padding: 15px 10px;
  font-size: 12px;
  line-height: 16px;
  border-right: 1px solid $color-grey;
}

.products-item-image {
  width: 75px;
  text-align: center;
  padding: 0;

  a {
    display: block;
    width: 53px;
    height: 45px;
    overflow: hidden;
    background: url(../images/image-picture-empty.png) no-repeat 0 0;

    img {
      max-width: none;
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 100%;
    }

    &:hover {
      box-shadow: 0 0 0 1px $color-red;
    }

  }

}

.products-item-code {
  width: 120px
}

.products-item-name {
  width: 185px;
}

.products-item-brand {
  width: 130px;
}

.products-item-data {
  width: 140px;
}

.products-item-presence {
  width: 75px;
}

.products-item-cost {
  width: 70px;
  text-align: center;
}

.products-item .products-item-order {
  width: 75px;
  text-align: center;
  border-right: none;
  padding: 0;
}

.product-presence-now {
  display: block;
  width: 22px;
  height: 22px;
  background: url(../images/icon-presence-now.png) no-repeat 0 0;
  margin: 0 auto;
}

.product-presence-later {
  display: block;
  width: 29px;
  height: 19px;
  background: url(../images/icon-presence-later.png) no-repeat 0 0;
  margin: 0 auto;
}

.product-presence-order {
  display: block;
  width: 26px;
  height: 24px;
  background: url(../images/icon-presence-order.png) no-repeat 0 0;
  margin: 0 auto;
}

@media(max-width: 1199px) {

  .form-products-search {

    label {
      margin: 0 20px 0 0;

      &:nth-of-type(1) {
        width: auto;
        flex-shrink: 1;
      }

      &:nth-of-type(2) {
        width: auto;
        flex-shrink: 1;
      }

      &:nth-of-type(3) {
        width: auto;
        flex-shrink: 1;
      }

    }

  }

}

@media(max-width: 991px) {

  .form-products-search {
    flex-wrap: wrap;

    label {
      margin: 0 0 20px;

      &:nth-of-type(1) {
        width: 100%;
      }

      &:nth-of-type(2) {
        width: 100%;
      }

      &:nth-of-type(3) {
        width: calc(100% - 70px);
        margin: 0 20px 20px 0;
      }

    }

  }

  .products-filter {
    flex-wrap: wrap;
  }

  .products-pagination {
    width: 100%;
    margin: 10px 0;
  }

}

@media(max-width: 767px) {

}

@media(max-width: 575px) {

  .products-header {
    padding: 0;
  }

  .products-header-image {
    position: static;
    margin: 0 0 15px;
  }

  .products-filter {
    padding: 0;
    justify-content: center;
  }

  .products-pagination {
    justify-content: center;
  }

  .products-pagination-text {
    display: none;
  }

  .products-view {
    margin: 20px 0 10px;
  }

}