div(class='block-404')
    div(class='block-404-title') Извините, запрашиваемая страница не найдена
    div(class='block-404-image')
        img(src='images/image-404.png' alt='some text')
    div(class='block-404-note')
        != 'Попробуйте начать с <a href="index.html">главной страницы</a> или посмотреть в каталоге'