section(class='about')
    div(class='custom-select')
    h1 Направления деятельности
    h2 Запчасти для экскаваторов и погрузчиков (ДСТ)

    div(class='about-brand')

        h3 Doosan
        div(class='about-brand-description') Пожалуй, самый большой в России склад запасных частей и расходных материалов на экскаваторы и погрузчики DOOSAN (DAEWOO). Около 5000 наименований! Если какой-то запчасти не окажется в наличии, мы привезем ее самолетом за 7-10 дней! Наш склад насчитывает более 20000 позиций, наиболее востребованных на рынке потребителей этих машин. Любые запасные части, расходные материалы, узлы и агрегаты: двигатели в сборе, редуктора, гидроцилиндры, гидромоторы, стартеры, генераторы, бортовые передачи, стрелы, рукояти, центральные шарниры, ТНВД, форсунки, фильтры, стекла, ленивцы, гусеницы, траки, катки опорные и поддерживающие, цепи, коронки, зубья, ковши, ножи, бокорезы, адаптеры и т.д. на весь модельный ряд DOOSAN.

        div(class='about-brand-category')
            h4 Гусеничные экскаваторы
            p Solar, DX, DH, LC: 130LC-V, 140LC-V, 155LC-V, 170-III, 170LC-V, 175LC-V, 220LC-III, 220LC-V, 220LC-V SLR, 225LC-V, 225LC-V SLR, 225NLCV, 250LC-V, 255LC-V, 280LC-III, 290LC-V, 290LC-V SLR, 300LC-V, 300LC-V SLR, 330-V, 340LC-V, 340NLC-V, 400LC-III, 400LC-V, 420LC-V, 450-III, 450LC-V, 470LC-V, 500LC-V, DH130, DH170 III, DH220 LC, DH450, DX140 LC, DX180 LC, DX225 LC, DX255 LC, DX255 LCA, DX300, DX300 LC V, DX420 LC V, 130 V, 280 LC III, 290 V, 330 III, DX140LCR, DX225LC SLR, DX225LCA, DX225NCL, DX235LCR, DX235NLC, DX255LC SLR, DX300LC, DX300LC SLR, DX300LC-3, DX300LCA, DX340LC, DX340LC-3, DX380LC, DX380LC-3, DX420LC, DX480LC, DX520LC, DX520LC SLR, DX700LC, 225LC-7, 300LC-7.

        div(class='about-brand-category')
            h4 Колесные экскаваторы
            p Solar, DX, DH, LC: DH130W, DH130W III, 130W-V, 170W-III, 200W-V, 50W-III, 55W-V, L 140W-V, L 160W-V, L 180W-V, L 210W-V, DX140W, DX160W, DX170W, DX190W, DX210W. Погрузчики (DL, SD, Mega): DL160, DL200, DL220, DL250, DL250A, DL250TC, DL300, DL300A, DL350, DL400, DL420, DL420A, DL450-3, DL500, DL550, Mega 160, Mega 160-V, Mega 160TC, Mega 200, Mega 200-V, Mega 200TC, Mega 250 VTF L, Mega 250-III, Mega 250-V, Mega 300-III, Mega 300-V, Mega 400-V, Mega 500-V, SD200, SD200N, SD300, SD300N.

        div(class='about-brand-footer')
            a(href='#' class='link-see-all')
                span(class='link-see-all-icon')
                    img(src='images/icon-burger.png' alt='catalog')
                span(class='link-see-all-text') Каталог запчастей Doosan
            a(href='#' class='link-see-all')
                span(class='link-see-all-icon')
                    img(src='images/icon-arrow.png' alt='catalog')
                span(class='link-see-all-text') Каталог запчастей Doosan 2017

    div(class='about-brand')

        h3 Doosan
        div(class='about-brand-description') Пожалуй, самый большой в России склад запасных частей и расходных материалов на экскаваторы и погрузчики DOOSAN (DAEWOO). Около 5000 наименований! Если какой-то запчасти не окажется в наличии, мы привезем ее самолетом за 7-10 дней! Наш склад насчитывает более 20000 позиций, наиболее востребованных на рынке потребителей этих машин. Любые запасные части, расходные материалы, узлы и агрегаты: двигатели в сборе, редуктора, гидроцилиндры, гидромоторы, стартеры, генераторы, бортовые передачи, стрелы, рукояти, центральные шарниры, ТНВД, форсунки, фильтры, стекла, ленивцы, гусеницы, траки, катки опорные и поддерживающие, цепи, коронки, зубья, ковши, ножи, бокорезы, адаптеры и т.д. на весь модельный ряд DOOSAN.

        div(class='about-brand-category')
            h4 Гусеничные экскаваторы
            p Solar, DX, DH, LC: 130LC-V, 140LC-V, 155LC-V, 170-III, 170LC-V, 175LC-V, 220LC-III, 220LC-V, 220LC-V SLR, 225LC-V, 225LC-V SLR, 225NLCV, 250LC-V, 255LC-V, 280LC-III, 290LC-V, 290LC-V SLR, 300LC-V, 300LC-V SLR, 330-V, 340LC-V, 340NLC-V, 400LC-III, 400LC-V, 420LC-V, 450-III, 450LC-V, 470LC-V, 500LC-V, DH130, DH170 III, DH220 LC, DH450, DX140 LC, DX180 LC, DX225 LC, DX255 LC, DX255 LCA, DX300, DX300 LC V, DX420 LC V, 130 V, 280 LC III, 290 V, 330 III, DX140LCR, DX225LC SLR, DX225LCA, DX225NCL, DX235LCR, DX235NLC, DX255LC SLR, DX300LC, DX300LC SLR, DX300LC-3, DX300LCA, DX340LC, DX340LC-3, DX380LC, DX380LC-3, DX420LC, DX480LC, DX520LC, DX520LC SLR, DX700LC, 225LC-7, 300LC-7.

        div(class='about-brand-category')
            h4 Колесные экскаваторы
            p Solar, DX, DH, LC: DH130W, DH130W III, 130W-V, 170W-III, 200W-V, 50W-III, 55W-V, L 140W-V, L 160W-V, L 180W-V, L 210W-V, DX140W, DX160W, DX170W, DX190W, DX210W. Погрузчики (DL, SD, Mega): DL160, DL200, DL220, DL250, DL250A, DL250TC, DL300, DL300A, DL350, DL400, DL420, DL420A, DL450-3, DL500, DL550, Mega 160, Mega 160-V, Mega 160TC, Mega 200, Mega 200-V, Mega 200TC, Mega 250 VTF L, Mega 250-III, Mega 250-V, Mega 300-III, Mega 300-V, Mega 400-V, Mega 500-V, SD200, SD200N, SD300, SD300N.

        div(class='about-brand-footer')
            a(href='#' class='link-see-all')
                span(class='link-see-all-icon')
                    img(src='images/icon-burger.png' alt='catalog')
                span(class='link-see-all-text') Каталог запчастей Doosan
            a(href='#' class='link-see-all')
                span(class='link-see-all-icon')
                    img(src='images/icon-arrow.png' alt='catalog')
                span(class='link-see-all-text') Каталог запчастей Doosan 2017