div(class='advantages')

    h1 Наши преимущества

    div(class='advantages-list')

        div(class='advantages-item')
            div(class='advantages-image')
                img(src='images/image-advantages-1.jpg' alt='some text')
            div(class='advantages-data')
                h3 Большой опыт работы
                p Мы занимаемся поставкой запасных частей с 2001 года, что может служить гарантией долгосрочных и надежных отношений.

        div(class='advantages-item')
            div(class='advantages-image')
                img(src='images/image-advantages-2.jpg' alt='some text')
            div(class='advantages-data')
                h3 Прямые контакты
                p Многолетний опыт работы в этом бизнесе ориентировал нас на прямые отношения с поставщиками в странах Юго-Восточной Азии и Европы.

        div(class='advantages-item')
            div(class='advantages-image')
                img(src='images/image-advantages-3.jpg' alt='some text')
            div(class='advantages-data')
                h3 Автоматизация
                p Весь цикл жизни товара от запроса до поступления на склад автоматизирован, а его мониторинг доступен всем нашим клиентам 24 часа в сутки.

        div(class='advantages-item')
            div(class='advantages-image')
                img(src='images/image-advantages-4.jpg' alt='some text')
            div(class='advantages-data')
                h3 Большой склад
                p Современный складской комплекс общей площадью более 1500 м2 с высокой технической оснащенностью и профессиональным персоналом - лучшее свидетельство серьезного подхода к поставкам запасных частей.

        div(class='advantages-item')
            div(class='advantages-image')
                img(src='images/image-advantages-5.jpg' alt='some text')
            div(class='advantages-data')
                h3 Ассортимент
                p Большинство востребованных позиций номенклатуры мы поддерживаем в необходимом количестве на нашем складе и огорчаемся вместе с нашими клиентами, когда не обнаруживаем что-либо им необходимое для поддержания работоспособности техники.

        div(class='advantages-item')
            div(class='advantages-image')
                img(src='images/image-advantages-6.jpg' alt='some text')
            div(class='advantages-data')
                h3 Отработанная логистика
                p Мы всегда можем предложить оптимальное решение по доставке товара: от авиа фрахта (7-10 дней) до перевозки по железной дороги (1-1.5 месяца). При этом, наши клиенты могут получить достоверную информацию о местонахождении груза в любое время дня и ночи.

        div(class='advantages-item')
            div(class='advantages-image')
                img(src='images/image-advantages-7.jpg' alt='some text')
            div(class='advantages-data')
                h3 Альтернатива
                p По желанию клиента мы всегда можем подобрать альтернативу оригинальным запасным частям, оптимизируя затраты клиентов и сохраняя необходимый уровень качества.

        div(class='advantages-item')
            div(class='advantages-image')
                img(src='images/image-advantages-8.jpg' alt='some text')
            div(class='advantages-data')
                h3 Низкие цены
                p Мы можем удивить Вас низкими ценами, которые вызывают зависть конкурентов и приятно удивляют наших клиентов. Это всего лишь оптимизация затрат на всех этапах продвижения товара от производителя к конечному потребителю.

        div(class='advantages-item')
            div(class='advantages-image')
                img(src='images/image-advantages-9.jpg' alt='some text')
            div(class='advantages-data')
                h3 Гибкость
                p В условиях сложного и нестабильного рынка мы готовы к гибким финансовым схемам сотрудничества и всегда находим компромисс интересов с нашими клиентами и партнерами.

        div(class='advantages-item')
            div(class='advantages-image')
                img(src='images/image-advantages-10.jpg' alt='some text')
            div(class='advantages-data')
                h3 Комплексный подход
                p На сегодняшний день ООО "КомПарт" занимает лидирующие позиции по целому ряду направлений, продолжает их совершенствовать и развивает новые, стараясь обеспечивать любые потребности наших клиентов.