div(class='brands')

    div(class='brands-title') ПРОИЗВОДИТЕЛИ

    div(class='brands-list')

        div(class='brands-item')
            div(class='brands-image')
                img(src='images/image-brand-1.jpg' alt='brand')
            a(href='#' class='brands-link')
                span(class="brands-link-text") Каталог запчастей
            a(href='#' class='brands-link')
                span(class="brands-link-text") Online-каталог 2017
                span(class="brands-link-mark") (new)

        div(class='brands-item')
            div(class='brands-image')
                img(src='images/image-brand-2.jpg' alt='brand')
            a(href='#' class='brands-link')
                span(class="brands-link-text") Каталог запчастей
            a(href='#' class='brands-link')
                span(class="brands-link-text") Online-каталог 2017
                span(class="brands-link-mark") (new)

        div(class='brands-item')
            div(class='brands-image')
                img(src='images/image-brand-3.jpg' alt='brand')
            a(href='#' class='brands-link')
                span(class="brands-link-text") Каталог запчастей
            a(href='#' class='brands-link')
                span(class="brands-link-text") Online-каталог 2017
                span(class="brands-link-mark") (new)

        div(class='brands-item')
            div(class='brands-image')
                img(src='images/image-brand-1.jpg' alt='brand')
            a(href='#' class='brands-link')
                span(class="brands-link-text") Каталог запчастей
            a(href='#' class='brands-link')
                span(class="brands-link-text") Online-каталог 2017
                span(class="brands-link-mark") (new)