div(class='cart-history')
    div(class='container')
        div(class='row')

            div(class='col-12')
                h1 ИСТОРИЯ ЗАПРОСОВ

        div(class='row')

            div(class='col-12 col-lg-6 col-xl-5')

                div(class='cart-history-item')
                    time 17.05.2017
                    a Запрос 245
                    div(class='cart-history-answered')
                        span Получен ответ

                div(class='cart-history-item')
                    time 15.05.2017
                    a(href='#') Запрос 244
                    div(class='cart-history-ordered')
                        span Обрабатывается

                div(class='cart-history-item')
                    time 10.05.2017
                    a(href='#') Запрос 243
                    div(class='cart-history-waiting')
                        span Не подтвержден

            div(class='col-12 col-lg-6 ml-xl-auto mr-xl-auto col-xl-5')

                div(class='cart-history-item')
                    time 17.05.2017
                    a Запрос 245
                    div(class='cart-history-answered')
                        span Получен ответ

                div(class='cart-history-item')
                    time 15.05.2017
                    a(href='#') Запрос 244
                    div(class='cart-history-ordered')
                        span Обрабатывается

                div(class='cart-history-item')
                    time 10.05.2017
                    a(href='#') Запрос 243
                    div(class='cart-history-waiting')
                        span Не подтвержден