div(class='cart')

    div(class='container')

        div(class='row')

            div(class='col-4 col-md-4')
                div(class='cart-order-title') Запрос 245

            div(class='col-8 col-md-8 text-md-right')
                div(class='cart-manager-text') Запросом занимается менеджер:
                div(class='cart-manager-text-mobile') Ваш менеджер:
                div(class='cart-manager-name') Иванов А.В.

                div(class='cart-order-links')
                    a(href='#')
                        img(src='images/icon-envelope.png' alt='email')
                    a(href='#')
                        img(src='images/icon-contact-mobile.png' alt='mobile')
                    a(href='#')
                        img(src='images/icon-contact-skype.png' alt='skype')
                    a(href='#')
                        img(src='images/icon-contact-chat.png' alt='chat')
                    a(href='#')
                        img(src='images/icon-contact-telegram.png' alt='telegram')
                    a(href='#')
                        img(src='images/icon-contact-phone.png' alt='phone')
                    a(href='#')
                        img(src='images/icon-contact-rss.png' alt='rss')

        div(class='row')
            div(class='col-12')

                div(class='table-header cart-header')
                        div(class='cart-header-item') Фото
                        div(class='cart-header-item') каталожный номер
                        div(class='cart-header-item') Наименование
                        div(class='cart-header-item') Бренд
                        div(class='cart-header-item') Количество
                        div(class='cart-header-item') Цена
                        div(class='cart-header-item') Наличие
                        div(class='cart-header-item') Примечание
                        div(class='cart-header-item') Комментарий менеджера
                        div(class='cart-header-item') Удаление

                div(class='table-body cart-list')

                        div(class='table-item cart-item')
                            div(class='cart-item-image')
                                a(href='#')
                                    img(src='images/image-product-small.jpg' alt='product')
                            div(class='cart-item-number') 75275-12.025
                            div(class='cart-item-name') Датчик давления масла
                            div(class='cart-item-brand') Doosan
                            div(class='cart-item-amount')
                                form(class='form-product-amount')
                                    div(class='product-amount-minus')
                                    div(class='product-amount-value') 1
                                    div(class='product-amount-plus')
                                    input(type='text')
                            div(class='cart-item-cost') 27200 Р
                            div(class='cart-item-presence')
                                div(class='product-presence-order')
                            div(class='cart-item-note') Серийный номер экскаватора 47980
                            div(class='cart-item-comment') Обратить внимание на стоимость!
                            div(class='cart-item-remove')
                                a(href='#')

                        div(class='table-item cart-item')
                            div(class='cart-item-image')
                                a(href='#')
                                    img(src='images/image-product-small.jpg' alt='product')
                            div(class='cart-item-number') 75275-12.025
                            div(class='cart-item-name') Датчик давления масла
                            div(class='cart-item-brand') Doosan
                            div(class='cart-item-amount')
                                form(class='form-product-amount')
                                    div(class='product-amount-minus')
                                    div(class='product-amount-value') 1
                                    div(class='product-amount-plus')
                                    input(type='text')
                            div(class='cart-item-cost') 27200 Р
                            div(class='cart-item-presence')
                                div(class='product-presence-order')
                            div(class='cart-item-note') Серийный номер экскаватора 47980
                            div(class='cart-item-comment') Обратить внимание на стоимость!
                            div(class='cart-item-remove')
                                a(href='#')

                        div(class='table-item cart-item')
                            div(class='cart-item-image')
                                a(href='#')
                                    img(src='images/image-product-small.jpg' alt='product')
                            div(class='cart-item-number') 75275-12.025
                            div(class='cart-item-name') Датчик давления масла
                            div(class='cart-item-brand') Doosan
                            div(class='cart-item-amount')
                                form(class='form-product-amount')
                                    div(class='product-amount-minus')
                                    div(class='product-amount-value') 1
                                    div(class='product-amount-plus')
                                    input(type='text')
                            div(class='cart-item-cost') 27200 Р
                            div(class='cart-item-presence')
                                div(class='product-presence-order')
                            div(class='cart-item-note') Серийный номер экскаватора 47980
                            div(class='cart-item-comment') Обратить внимание на стоимость!
                            div(class='cart-item-remove')
                                a(href='#')

                        div(class='table-item cart-item')
                            div(class='cart-item-image')
                                a(href='#')
                                    img(src='images/image-product-small.jpg' alt='product')
                            div(class='cart-item-number') 75275-12.025
                            div(class='cart-item-name') Датчик давления масла
                            div(class='cart-item-brand') Doosan
                            div(class='cart-item-amount')
                                form(class='form-product-amount')
                                    div(class='product-amount-minus')
                                    div(class='product-amount-value') 1
                                    div(class='product-amount-plus')
                                    input(type='text')
                            div(class='cart-item-cost') 27200 Р
                            div(class='cart-item-presence')
                                div(class='product-presence-order')
                            div(class='cart-item-note') Серийный номер экскаватора 47980
                            div(class='cart-item-comment') Обратить внимание на стоимость!
                            div(class='cart-item-remove')
                                a(href='#')



        div(class='row')

            div(class='col-12 col-lg-4')
                div(class='cart-result')
                    div(class='cart-result-text') Итого:
                    div(class='cart-result-value') 157 577 Р

            div(class='col-12 col-lg-8 text-lg-right')

                div(class='cart-social-title') Поделиться запросом:
                div(class='cart-social-list')
                    a(href='' class='cart-social-item')
                        img(src='images/icon-social-vkontakte.png' alt='vkontakte')
                    a(href='' class='cart-social-item')
                        img(src='images/icon-social-facebook.png' alt='facebook')
                    a(href='' class='cart-social-item')
                        img(src='images/icon-social-odnoklassniki.png' alt='odnoklassniki')
                    a(href='' class='cart-social-item')
                        img(src='images/icon-social-mail-ru.png' alt='mail-ru')
                    a(href='' class='cart-social-item')
                        img(src='images/icon-social-google.png' alt='google')
                    a(href='' class='cart-social-item')
                        img(src='images/icon-social-twitter.png' alt='twitter')
                    a(href='' class='cart-social-item')
                        img(src='images/icon-social-linkedin.png' alt='linkedin')
                    a(href='' class='cart-social-item')
                        img(src='images/icon-social-pencil.png' alt='pencil')

                button(class='cart-refresh')
                    span(class='cart-refresh-icon')
                        img(src='images/icon-refresh.png' alt='refresh')
                    span(class='cart-refresh-text') Обновить