div(class='container')
    div(class='row')
        div(class='col-12')
            div(class='catalog-brand-header')
                h1 КАТАЛОГ ЗАПЧАСТЕЙ DOOSAN EPC 2017
                div(class='catalog-brand-image')
                    img(src='images/image-brand-1.jpg' alt='some text')
                p Полный каталог запчастей на все модели экскаваторов и погрузчиков DOOSAN. Вы можете выбрать интересующий номер, набрав целиком в строке поиска или входящие в него символы. При этом система предложит Вам список подходящих номеров, моделей и разделов. Для перехода в конкретный раздел каталога инетересующей Вас модели следует выбрать модель и доступный раздел.
    div(class='row catalog-brand-filter')
        div(class='col-12 col-lg-6 col-xl-3')
            div(class='catalog-brand-item')
                p Я ищу запчасть
                div(class='catalog-brand-fields')
                    label
                        input(type='text')
                        div(class='field-clear')
                            img(src='images/icon-field-clear.png' alt='clear')
                div(class='catalog-brand-item-title') Выбор номера
                div(class='custom-scrollbar')
                    div(class='catalog-brand-chooser')
                        ul
                            li 8258585
                            li 8252
                            li 8285
                            li 8258585
                            li 8252
                            li 8285
                            li 8258585
                            li 8252
                            li 8285
                            li 8258585
                            li 8252
                            li 8285
                            li 8258585
                            li 8252
                            li 8285
                            li 8258585
                            li 8252
                            li 8285
                            li 8258585
                            li 8252
                            li 8285
                            li 8258585
                            li 8252
                            li 8285
                            li 8258585
                            li 8252
                            li 8285
                            li 8258585
                            li 8252
                            li 8285

        div(class='col-12 col-lg-6 col-xl-5')
            div(class='catalog-brand-item')
                p На модель техники
                div(class='catalog-brand-fields')
                    label
                        input(type='text')
                        div(class='field-clear')
                            img(src='images/icon-field-clear.png' alt='clear')
                    button(class='show-variants')
                        img(src='images/icon-burger-white.png' alt='some text')
                div(class='catalog-brand-item-title') Выбор модели
                div(class='custom-scrollbar')
                    div(class='catalog-brand-chooser')
                        ul
                            li 8258585
                            li 8252
                            li 8285
                            li 8258585
                            li 8252
                            li 8285
                            li 8258585
                            li 8252
                            li 8285
                            li 8258585
                            li 8252
                            li 8285
                            li 8258585
                            li 8252
                            li 8285
                            li 8258585
                            li 8252
                            li 8285
                            li 8258585
                            li 8252
                            li 8285
                            li 8258585
                            li 8252
                            li 8285
                            li 8258585
                            li 8252
                            li 8285
                            li 8258585
                            li 8252
                            li 8285

                        ul
                            li 258585
                            li 8252fddffd
                            li 8285fddf
                            li 82585dfdf85
                            li 8252dgdffddgdgd
                            li 8285ggggg
                            li 8258585
                            li 8252ggg
                            li 8285
                            li 8258585ggggg
                            li 8252gggffffffffffff
                            li 8285ggggggggg
                            li 258585
                            li 8252fddffd
                            li 8285fddf
                            li 82585dfdf85
                            li 8252dgdffddgdgd
                            li 8285ggggg
                            li 8258585
                            li 8252ggg
                            li 8285
                            li 8258585ggggg
                            li 8252gggffffffffffff
                            li 8285ggggggggg

                        ul
                            li 258585
                            li 8252fddffd
                            li 8285fddf
                            li 82585dfdf85
                            li 8252dgdffddgdgd
                            li 8285ggggg
                            li 8258585
                            li 8252ggg
                            li 8285
                            li 8258585ggggg
                            li 8252gggffffffffffff
                            li 8285ggggggggg
                            li 258585
                            li 8252fddffd
                            li 8285fddf
                            li 82585dfdf85
                            li 8252dgdffddgdgd
                            li 8285ggggg
                            li 8258585
                            li 8252ggg
                            li 8285
                            li 8258585ggggg
                            li 8252gggffffffffffff
                            li 8285ggggggggg

        div(class='col-12 col-lg-6 col-xl-4')
            div(class='catalog-brand-item')
                p Из раздела
                div(class='catalog-brand-fields')
                    label
                        input(type='text')
                        div(class='field-clear')
                            img(src='images/icon-field-clear.png' alt='clear')
                    button(class='show-variants')
                        img(src='images/icon-burger-white.png' alt='some text')
                div(class='catalog-brand-item-title') Выбор раздела
                div(class='custom-scrollbar')
                    div(class='catalog-brand-chooser')
                        ul
                            li 8258585
                            li 8252 HOSE;HYDRA
                            li 8285HOSE;HYDRAULIC
                            li 8285 dfsedfdfsed
                            li 8258585  dddssd H
                            li 8HOSE;HYDRAULIC
                            li 8258585
                            li 8252 fdsadfg HOSE
                            li 8285
                            li HOSE;HYDRAULIC H
                            li zsdfgh58ddf
                            li dsfgh5fdgf HOSE;H
                            li 8258585
                            li 8252 HOSE;HYDRA
                            li 8285HOSE;HYDRAULIC
                            li 8285 dfsedfdfsed
                            li 8258585  dddssd H
                            li 8HOSE;HYDRAULIC
                            li 8258585
                            li 8252 fdsadfg HOSE
                            li 8285
                            li HOSE;HYDRAULIC H
                            li zsdfgh58ddf
                            li dsfgh5fdgf HOSE;H
                        ul
                            li 8258585
                            li 8252 HOSE;HYDRA
                            li 8285HOSE;HYDRAULIC
                            li 8285 dfsedfdfsed
                            li 8258585  dddssd H
                            li 8HOSE;HYDRAULIC
                            li 8258585
                            li 8252 fdsadfg HOSE
                            li 8285
                            li HOSE;HYDRAULIC H
                            li zsdfgh58ddf
                            li dsfgh5fdgf HOSE;H
                            li 8258585
                            li 8252 HOSE;HYDRA
                            li 8285HOSE;HYDRAULIC
                            li 8285 dfsedfdfsed
                            li 8258585  dddssd H
                            li 8HOSE;HYDRAULIC
                            li 8258585
                            li 8252 fdsadfg HOSE
                            li 8285
                            li HOSE;HYDRAULIC H
                            li zsdfgh58ddf
                            li dsfgh5fdgf HOSE;H

    a(href='#' class='catalog-brand-link') Перейти в каталог