section(class='catalog')
    div(class='container')

        div(class='catalog-list')

            div(class='catalog-item')
                a(href='#' class='catalog-item-icon')
                    img(src='images/icon-catalog-1.png' alt='catalog icon')
                h3
                    a(href='#' class='catalog-item-title') Экскаваторы, погрузчики
                div(class='catalog-item-info') В этом разделе вы можете ознакомится с номенклатурой запасных частей для экскаваторов, погрузчиков и фронтальных погрузчиков, которые мы поставляем.
                div(class='catalog-item-links')
                    a(href='#') Doosan
                    a(href='#') Hyundai
                    a(href='#') Volvo
                    a(href='#') Амкодор
                    a(href='#') Komatsu
                    a(href='#') Cat
                    a(href='#') Hitachi

            div(class='catalog-item')
                a(href='#' class='catalog-item-icon')
                    img(src='images/icon-catalog-2.png' alt='catalog icon')
                h3
                    a(href='#' class='catalog-item-title') АБН, миксеры
                div(class='catalog-item-info') В этом разделе вы можете ознакомится с номенклатурой запасных частей для экскаваторов, погрузчиков и фронтальных погрузчиков, которые мы поставляем.
                div(class='catalog-item-links')
                    a(href='#') Doosan
                    a(href='#') Hyundai
                    a(href='#') Volvo
                    a(href='#') Амкодор
                    a(href='#') Komatsu
                    a(href='#') Cat
                    a(href='#') Hitachi

            div(class='catalog-item')
                a(href='#' class='catalog-item-icon')
                    img(src='images/icon-catalog-3.png' alt='catalog icon')
                h3
                    a(href='#' class='catalog-item-title') Коммерческий транспорт
                div(class='catalog-item-info') В этом разделе вы можете ознакомится с номенклатурой запасных частей для экскаваторов, погрузчиков и фронтальных погрузчиков, которые мы поставляем.
                div(class='catalog-item-links')
                    a(href='#') Doosan
                    a(href='#') Hyundai
                    a(href='#') Volvo
                    a(href='#') Амкодор
                    a(href='#') Komatsu
                    a(href='#') Cat
                    a(href='#') Hitachi

            div(class='catalog-item')
                a(href='#' class='catalog-item-icon')
                    img(src='images/icon-catalog-4.png' alt='catalog icon')
                h3
                    a(href='#' class='catalog-item-title') Коронки, зубья, ножи
                div(class='catalog-item-info') В этом разделе вы можете ознакомится с номенклатурой запасных частей для экскаваторов, погрузчиков и фронтальных погрузчиков, которые мы поставляем.
                div(class='catalog-item-links')
                    a(href='#') Doosan
                    a(href='#') Hyundai
                    a(href='#') Volvo
                    a(href='#') Амкодор
                    a(href='#') Komatsu
                    a(href='#') Cat
                    a(href='#') Hitachi

            div(class='catalog-item')
                a(href='#' class='catalog-item-icon')
                    img(src='images/icon-catalog-5.png' alt='catalog icon')
                h3
                    a(href='#' class='catalog-item-title') Запчасти к навесному
                div(class='catalog-item-info') В этом разделе вы можете ознакомится с номенклатурой запасных частей для экскаваторов, погрузчиков и фронтальных погрузчиков, которые мы поставляем.
                div(class='catalog-item-links')
                    a(href='#') Doosan
                    a(href='#') Hyundai
                    a(href='#') Volvo
                    a(href='#') Амкодор
                    a(href='#') Komatsu
                    a(href='#') Cat
                    a(href='#') Hitachi

            div(class='catalog-item')
                a(href='#' class='catalog-item-icon')
                    img(src='images/icon-catalog-6.png' alt='catalog icon')
                h3
                    a(href='#' class='catalog-item-title') Краны-манипуляторы
                div(class='catalog-item-info') В этом разделе вы можете ознакомится с номенклатурой запасных частей для экскаваторов, погрузчиков и фронтальных погрузчиков, которые мы поставляем.
                div(class='catalog-item-links')
                    a(href='#') Doosan
                    a(href='#') Hyundai
                    a(href='#') Volvo
                    a(href='#') Амкодор
                    a(href='#') Komatsu
                    a(href='#') Cat
                    a(href='#') Hitachi

            div(class='catalog-item')
                a(href='#' class='catalog-item-icon')
                    img(src='images/icon-catalog-7.png' alt='catalog icon')
                h3
                    a(href='#' class='catalog-item-title') Ходовая
                div(class='catalog-item-info') В этом разделе вы можете ознакомится с номенклатурой запасных частей для экскаваторов, погрузчиков и фронтальных погрузчиков, которые мы поставляем.
                div(class='catalog-item-links')
                    a(href='#') Doosan
                    a(href='#') Hyundai
                    a(href='#') Volvo
                    a(href='#') Амкодор
                    a(href='#') Komatsu
                    a(href='#') Cat
                    a(href='#') Hitachi

            div(class='catalog-item')
                a(href='#' class='catalog-item-icon')
                    img(src='images/icon-catalog-8.png' alt='catalog icon')
                h3
                    a(href='#' class='catalog-item-title') Распродажа
                div(class='catalog-item-info') В этом разделе вы можете ознакомится с номенклатурой запасных частей для экскаваторов, погрузчиков и фронтальных погрузчиков, которые мы поставляем.
                div(class='catalog-item-links')
                    a(href='#') Doosan
                    a(href='#') Hyundai
                    a(href='#') Volvo
                    a(href='#') Амкодор
                    a(href='#') Komatsu
                    a(href='#') Cat
                    a(href='#') Hitachi