div(class='catalog-aside')

    div(class='catalog-aside-item')
        div(class='catalog-aside-image')
            img(src='images/icon-catalog-1.png' alt='catalog')
        div(class='catalog-aside-links')
            a(href='#' class='catalog-aside-title') Экскаваторы, погрузчики
            ul
                li
                    a(href='#') Everdigm
                li
                    a(href='#') Putzmeister
                li
                    a(href='#') Schwing
                li
                    a(href='#') Туймазы
                li
                    a(href='#') Тигарбо
                li
                    a(href='#') Трубы, отводы, фланцы

    div(class='catalog-aside-item active')
        div(class='catalog-aside-image')
            img(src='images/icon-catalog-2.png' alt='catalog')
        div(class='catalog-aside-links')
            a(class='catalog-aside-title') АБН, миксеры
            ul
                li
                   a(href='#') Everdigm
                li
                    a(href='#') Putzmeister
                li
                    a(href='#' class='active') Schwing
                li
                    a(href='#') Туймазы
                li
                    a(href='#') Тигарбо
                li
                    a(href='#') Трубы, отводы, фланцы

    div(class='catalog-aside-item')
        div(class='catalog-aside-image')
            img(src='images/icon-catalog-3.png' alt='catalog')
        div(class='catalog-aside-links')
            a(href='#' class='catalog-aside-title') Коммерческий транспорт
            ul
                li
                    a(href='#') Everdigm
                li
                    a(href='#') Putzmeister
                li
                    a(href='#') Schwing
                li
                    a(href='#') Туймазы
                li
                    a(href='#') Тигарбо
                li
                    a(href='#') Трубы, отводы, фланцы

    div(class='catalog-aside-item')
        div(class='catalog-aside-image')
            img(src='images/icon-catalog-4.png' alt='catalog')
        div(class='catalog-aside-links')
            a(href='#' class='catalog-aside-title') Коронки, зубья, ножи
            ul
                li
                    a(href='#') Everdigm
                li
                    a(href='#') Putzmeister
                li
                    a(href='#') Schwing
                li
                    a(href='#') Туймазы
                li
                    a(href='#') Тигарбо
                li
                    a(href='#') Трубы, отводы, фланцы

    div(class='catalog-aside-item')
        div(class='catalog-aside-image')
            img(src='images/icon-catalog-5.png' alt='catalog')
        div(class='catalog-aside-links')
            a(href='#' class='catalog-aside-title') Запчасти к навесному
            ul
                li
                    a(href='#') Everdigm
                li
                    a(href='#') Putzmeister
                li
                    a(href='#') Schwing
                li
                    a(href='#') Туймазы
                li
                    a(href='#') Тигарбо
                li
                    a(href='#') Трубы, отводы, фланцы

    div(class='catalog-aside-item')
        div(class='catalog-aside-image')
            img(src='images/icon-catalog-6.png' alt='catalog')
        div(class='catalog-aside-links')
            a(href='#' class='catalog-aside-title') Краны-манипуляторы
            ul
                li
                    a(href='#') Everdigm
                li
                    a(href='#') Putzmeister
                li
                    a(href='#') Schwing
                li
                    a(href='#') Туймазы
                li
                    a(href='#') Тигарбо
                li
                    a(href='#') Трубы, отводы, фланцы

    div(class='catalog-aside-item')
        div(class='catalog-aside-image')
            img(src='images/icon-catalog-7.png' alt='catalog')
        div(class='catalog-aside-links')
            a(href='#' class='catalog-aside-title') Ходовая
            ul
                li
                    a(href='#') Everdigm
                li
                    a(href='#') Putzmeister
                li
                    a(href='#') Schwing
                li
                    a(href='#') Туймазы
                li
                    a(href='#') Тигарбо
                li
                    a(href='#') Трубы, отводы, фланцы

    div(class='catalog-aside-item')
        div(class='catalog-aside-image')
            img(src='images/icon-catalog-8.png' alt='catalog')
        div(class='catalog-aside-links')
            a(href='#' class='catalog-aside-title') Распродажа
            ul
                li
                    a(href='#') Everdigm
                li
                    a(href='#') Putzmeister
                li
                    a(href='#') Schwing
                li
                    a(href='#') Туймазы
                li
                    a(href='#') Тигарбо
                li
                    a(href='#') Трубы, отводы, фланцы