div(class='e-item')
    div(class='container')
        div(class='row')

            div(class='col-12')

                h1 3130 COUPLING K1 TRANSMISSION
                a(href='#' class='to-previous-page')
                    != '<span>«</span>Назад'

            div(class='col-12')

                div(class='table-header e-item-header')
                    div(class='e-item-header-item') ПОЗ.
                    div(class='e-item-header-item')
                        != '<span>каталожный </span>номер'
                    div(class='e-item-header-item') Наименование
                    div(class='e-item-header-item') Количество
                    div(class='e-item-header-item') Наличие
                    div(class='e-item-header-item') Аналог
                    div(class='e-item-header-item') Комментарий
                    div(class='e-item-header-item') В запрос

                div(class='table-body')

                    div(class='table-item e-item-item')
                        div(class='e-item-position') 1
                        div(class='e-item-number') 75275-12.025
                        div(class='e-item-name') Датчик давления масла
                        div(class='e-item-amount') 1
                        div(class='e-item-presence')
                            div(class='product-presence-order')
                        div(class='e-item-analogue') Серийный номер экскаватора 47980
                        div(class='e-item-comment') Обратить внимание на стоимость!
                        div(class='e-item-order')
                            a(href='#')
                                img(src='images/icon-order.png' alt='some text')

                    div(class='table-item e-item-item')
                        div(class='e-item-position') 2
                        div(class='e-item-number') 75275-12.025
                        div(class='e-item-name') Датчик давления масла
                        div(class='e-item-amount') 1
                        div(class='e-item-presence')
                            div(class='product-presence-order')
                        div(class='e-item-analogue') Серийный номер экскаватора 47980
                        div(class='e-item-comment') Обратить внимание на стоимость!
                        div(class='e-item-order')
                            a(href='#')
                                img(src='images/icon-order.png' alt='some text')

                    div(class='table-item e-item-item')
                        div(class='e-item-position') 1
                        div(class='e-item-number') 75275-12.025
                        div(class='e-item-name') Датчик давления масла
                        div(class='e-item-amount') 1
                        div(class='e-item-presence')
                            div(class='product-presence-order')
                        div(class='e-item-analogue') Серийный номер экскаватора 47980
                        div(class='e-item-comment') Обратить внимание на стоимость!
                        div(class='e-item-order')
                            a(href='#')
                                img(src='images/icon-order.png' alt='some text')

                    div(class='table-item e-item-item')
                        div(class='e-item-position') 2
                        div(class='e-item-number') 75275-12.025
                        div(class='e-item-name') Датчик давления масла
                        div(class='e-item-amount') 1
                        div(class='e-item-presence')
                            div(class='product-presence-order')
                        div(class='e-item-analogue') Серийный номер экскаватора 47980
                        div(class='e-item-comment') Обратить внимание на стоимость!
                        div(class='e-item-order')
                            a(href='#')
                                img(src='images/icon-order.png' alt='some text')

            div(class='col-12')

                div(class='e-item-scheme')
                    div(class='e-item-image')
                        div(class='e-item-image-bar')
                            a(href='#')
                                img(src='images/icon-e-item-hand.png' alt='some text')
                            a(href='#')
                                img(src='images/icon-e-item-border.png' alt='some text')
                            a(href='#')
                                img(src='images/icon-e-item-zoom-plus.png' alt='some text')
                            a(href='#')
                                img(src='images/icon-e-item-scale.png' alt='some text')
                            a(href='#')
                                img(src='images/icon-e-item-zoom-minus.png' alt='some text')
                            a(href='#')
                                img(src='images/icon-e-item-print.png' alt='some text')
                        img(src='images/image-e-item.jpg' alt='some text')