div(class='container')
    div(class='e-catalogs')
        div(class='row')
            div(class='col-12')

                h1 ЭЛЕКТРОННЫЕ КАТАЛОГИ

                p Предлагаем воспользоваться новым сервис поиска запчастей по каталогам производителей. Этот сервис абслютно бесплатный, но доступен только зарегистированным пользователям. Список каталогов будет постоянно пополняться. Если Вы обнаружили ошибку - просьба сообщить о ней администратуру. Спасибо.

                div(class='e-catalogs-list')

                    div(class='e-catalogs-item')
                        a(href='#' class='e-catalogs-image')
                            img(src='images/image-brand-1.jpg' alt='e-catalog')
                        h2
                            a(href='#') Каталог запчастей DOOSAN EPC 2017
                        p Полный каталог запчастей на все модели экскаваторов и погрузчиков DOOSAN.

                    div(class='e-catalogs-item')
                        a(href='#' class='e-catalogs-image')
                            img(src='images/image-brand-2.jpg' alt='e-catalog')
                        h2
                            a(href='#') Каталог запчастей DOOSAN EPC 2017
                        p Полный каталог запчастей на все модели экскаваторов и погрузчиков DOOSAN.

                    div(class='e-catalogs-item')
                        a(href='#' class='e-catalogs-image')
                            img(src='images/image-brand-1.jpg' alt='e-catalog')
                        h2
                            a(href='#') Каталог запчастей DOOSAN EPC 2017
                        p Полный каталог запчастей на все модели экскаваторов и погрузчиков DOOSAN.

                    div(class='e-catalogs-item')
                        a(href='#' class='e-catalogs-image')
                            img(src='images/image-brand-2.jpg' alt='e-catalog')
                        h2
                            a(href='#') Каталог запчастей DOOSAN EPC 2017
                        p Полный каталог запчастей на все модели экскаваторов и погрузчиков DOOSAN.

                    div(class='e-catalogs-item')
                        a(href='#' class='e-catalogs-image')
                            img(src='images/image-brand-1.jpg' alt='e-catalog')
                        h2
                            a(href='#') Каталог запчастей DOOSAN EPC 2017
                        p Полный каталог запчастей на все модели экскаваторов и погрузчиков DOOSAN.

                    div(class='e-catalogs-item')
                        a(href='#' class='e-catalogs-image')
                            img(src='images/image-brand-2.jpg' alt='e-catalog')
                        h2
                            a(href='#') Каталог запчастей DOOSAN EPC 2017
                        p Полный каталог запчастей на все модели экскаваторов и погрузчиков DOOSAN.