header

    div(class='header-top')

        div(class='mobile-nav')

        div(class='container')
            div(class='row')

                div(class='col-4 col-sm-5 col-lg-3')

                    div(class='header-local')
                        a(class='header-local-item active') rus
                        a(class='header-local-item') eng

                    a(href='index.html' class='header-logo')
                        img(src='images/logo.png' alt='compart')
                        div(class='header-logo-tagline')
                            != 'Поставщик запчастей<br> на спецтехнику'

                div(class='col-2 col-lg-6 d-flex justify-content-center align-items-center')

                    nav(class='header-menu')
                        div(class='header-submenu')
                            div(class='header-submenu-label') О нас
                            div(class='header-submenu-dropdown')
                                a(href='#' class='header-submenu-item') Направления деятельности
                                a(href='#' class='header-submenu-item') Наши преимущества
                                a(href='#' class='header-submenu-item') Контакты
                                a(href='#' class='header-submenu-item') Вакансии
                                a(href='#' class='header-submenu-item') Логистика
                        a(href='#' class='header-nav-item') Новости
                        a(href='#' class='header-nav-item')
                            != 'Каталоги online<span class="header-nav-marker">new</span>'

                    div(class='burger')
                        div(class='burger-top')
                        div(class='burger-middle')
                        div(class='burger-bottom')

                    div(class='header-sign')
                        a(href='' class='header-sign-in') Войти
                        div(class='header-sign-text') или
                        a(href='' class='header-sign-up') зарегистрироваться

                div(class='col-6 col-sm-5 col-lg-3 d-flex justify-content-end')
                    a(href='page-catalog.html' class='header-catalog')
                        span(class='header-catalog-burger')
                            img(src='images/icon-burger.png' alt='some text')
                        span(class='header-catalog-text') КАТАЛОГ ЗАПЧАСТЕЙ

    div(class='header-info')
        div(class='container')
            div(class='row')

                div(class='col-12 col-xl-3 d-flex justify-content-center flex-wrap align-self-end')

                    a(class='header-callback')
                        span(class='header-callback-icon')
                            img(src='images/icon-phone.png' alt='callback')
                        span(class='header-callback-text') Заказать обратный звонок

                div(class='col-12 col-xl-6')
                    div(class='row')

                        div(class='col-12')

                            form(action='#' class='form-search')
                                label
                                    input(type='search' placeholder='Название или каталожный номер запчасти')
                                button(type='submit')
                                    img(src='images/icon-search.png' alt='Submit')

                        div(class='col-sm-4 d-flex justify-content-center')

                            div(class='phone-block')
                                a(href='tel:' class='phone-block-link')
                                    != '8 (495) <span>150-05-66</span>'
                                span(class='phone-block-note') Телефон в Москве

                        div(class='col-sm-4 d-flex justify-content-center')

                            div(class='phone-block')
                                a(href='tel:' class='phone-block-link')
                                    != '8 (800) <span>500-56-65</span>'
                                span(class='phone-block-note') По России бесплатно

                        div(class='col-sm-4 d-flex justify-content-center')

                            div(class='phone-block')
                                a(href='tel:' class='phone-block-link')
                                    != '8 (423) <span>279-55-30</span>'
                                span(class='phone-block-note') Телефон во Владивостоке

                div(class='col-12 header-cart-wrapper col-xl-3')

                    a(class='header-cart')
                        span(class='header-cart-icon')
                            img(src='images/icon-cart.png' alt='cart')
                        span(class='header-cart-text') Мой запрос
                        span(class='header-cart-value') 27

                    a(href='mailto:example@gmail.com' class='header-email')
                        span(class='header-email-icon')
                            img(src='images/icon-envelope.png' alt='cart')
                        span(class='header-email-text') Написать директору