div(class='item-data')
    div(class='container')
    div(class='row')

        div(class='col-12')
            h1 DOOSAN ПОЛУКОЛЬЦО (0.25)

        div(class='col-12 col-lg-6')
            div(class='item-image')
                img(src='images/image-item.jpg' alt='some text')
                div(class='item-image-marker')
                    div(class='item-image-marker-icon')
                        img(src='images/icon-presence-later.png' alt='some text')
                    div(class='item-image-marker-text') В пути

        div(class='col-12 col-lg-6')

            div(class='item-info-header')
                div(class='item-cost') 12 577 Р
                button(class='item-order')
                    span(class='item-order-icon')
                        img(src='images/icon-order.png' alt='some text')
                    span(class='item-order-text') в запрос

            div(class='item-info-row')
                div(class='item-info-title') Производитель
                div(class='item-info-value')
                    a(href='#') Doosan

            div(class='item-info-row')
                div(class='item-info-title') Номер
                div(class='item-info-value') 65.01111-6542

            div(class='item-info-row')
                div(class='item-info-title') Английское наименование
                div(class='item-info-value') WASHER,THRUST 0.25

            div(class='item-info-row')
                div(class='item-info-title') Раздел
                div(class='item-info-value') 03.2 Двигатели в сборе

            div(class='item-info-row')
                div(class='item-info-title') Вес
                div(class='item-info-value') 590 г

            div(class='item-info-row')
                div(class='item-info-title') Применяемость
                div(class='item-info-value')
                    != 'DX420LC, DX480LC,<br> DX520LC / DX520LCA'