div(class='logistics')

    h1 ЛОГИСТИКА

    h2 Как мы импортируем запчасти

    p Наиболее востребованный ассортимент запасных частей мы всегда поддерживаем в наличии на наших складах в Москве и Владивостоке. Мы бесплатно доставляем заказы 3 раза в неделю в ведущие ТК. Остатки пополняются регулярными контейнерными перевозками. Если запрашиваемые позиции по тем или иным причинам отсутствуют на складе, мы предлагаем клиентам привезти их под заказ в самые кратчайшие сроки и по самым оптимальным ценам.

    p Возможны самые различные по оперативности и конечной цене решения, такие как сборный груз (паром) + ЖД, контейнерная перевозка на пароме + ЖД, сборный груз (паром) + авиа доставка и т.д. При этом мы работаем по минимальной предоплате заказа. Наиболее подходящий вариант доставки Вы можете обсудить с любым из наших менеджеров.

    img(src='images/image-logistics.png' alt='logistics')

    h2 Как мы доставляем запчасти клиенту

    p Мы можем отгрузить Ваш заказ со склада в г. Москве или БЕСПЛАТНО доставить в ЛЮБУЮ транспортную компанию 3 раза в неделю. Уже много лет мы работаем со следующими транспортными компаниями:

    div(class='logistics-list')

        div(class='logistics-item')
            div(class='logistics-item-image')
                img(src='images/image-logistics-1.jpg' alt='logistics')
            div(class='logistics-item-data')
                h3 АВТОТРЕЙДИНГ (8-800-100-5000)
                p С 1993 году осуществляет грузоперевозки по России. За время своей деятельности она построила плотную сеть филиалов, в которую вошли надежные российские транспортные компании, и внедрила множество инновационных решений, благодаря которым доставка грузов в любую точку нашей страны осуществляется максимально эффективно.

        div(class='logistics-item')
            div(class='logistics-item-image')
                img(src='images/image-logistics-2.jpg' alt='logistics')
            div(class='logistics-item-data')
                h3 ЖЕЛДОРЭКСПЕДИЦИЯ (8-800-100-5505)
                p Осуществляет междугородняя ж/д и автоперевозка, а также доставка «от двери до двери» сборных грузов по России. «ЖелДорЭкспедиция» основана в 1995 году для перевозки и доставки грузов. «ЖелДорЭкспедиция» успешно работает на рынке автомобильных и железнодорожных грузовых перевозок и в кратчайшие сроки осуществляет перевозку сборных грузов по России. Для удобства клиентов наши представительства расположены в 103 городах России, также осуществляется регулярная доставка грузов от головных и удалённых представительств компании «ЖелДорЭкспедиция» в 2974 населённых пункта России.

        div(class='logistics-item')
            div(class='logistics-item-image')
                img(src='images/image-logistics-3.jpg' alt='logistics')
            div(class='logistics-item-data')
                h3 ДЕЛОВЫЕ ЛИНИИ (8-800-100-8000)
                p Выйдя на рынок в 2001 году, к сегодняшнему дню «Деловые линии» стали одной из крупнейших транспортных компаний России. Их отличительная черта - высокий уровень надежности грузоперевозок. Благодаря собственному автомобильному парку из более 4000 машин они оперативно доставляют груз по всей России, в Белоруссию и Казахстан. Компании принадлежит более 150 терминалов от Калининграда до Владивостока.