div(class='window window-brand')
    div(class='window-inner')
        div(class='close-window')
            img(src='images/icon-close.png' alt='close')
        ul(class='window-list')
            li(class='window-list-item')
                span(class='window-list-item-current') АБН, миксеры
                ul(class='window-sublist')
                    li(class='window-sublist-item')
                        span(class='window-sublist-item-current') Everdigm
                        ul
                            li
                                a(href='#' class='window-link') Everdigm
                            li
                                a(href='#' class='window-link') Putzmeister
                            li
                                a(href='#' class='window-link') Schwing
                            li
                                a(href='#' class='window-link') Туймазы
                            li
                                a(href='#' class='window-link') Тигарбо
                            li
                                a(href='#' class='window-link') Трубы, отводы, фланцы
                    li(class='window-sublist-item')
                        span(class='window-sublist-item-current') Putzmeister
                        ul
                            li
                                a(href='#' class='window-link') Everdigm
                            li
                                a(href='#' class='window-link') Putzmeister
                            li
                                a(href='#' class='window-link') Schwing
                            li
                                a(href='#' class='window-link') Туймазы
                            li
                                a(href='#' class='window-link') Тигарбо
                            li
                                a(href='#' class='window-link') Трубы, отводы, фланцы
                    li(class='window-sublist-item')
                        span(class='window-sublist-item-current') Schwing
                        ul
                            li
                                a(href='#' class='window-link') Everdigm
                            li
                                a(href='#' class='window-link') Putzmeister
                            li
                                a(href='#' class='window-link') Schwing
                            li
                                a(href='#' class='window-link') Туймазы
                            li
                                a(href='#' class='window-link') Тигарбо
                            li
                                a(href='#' class='window-link') Трубы, отводы, фланцы
                    li(class='window-sublist-item')
                        span(class='window-sublist-item-current') Туймазы
                        ul
                            li
                                a(href='#' class='window-link') Everdigm
                            li
                                a(href='#' class='window-link') Putzmeister
                            li
                                a(href='#' class='window-link') Schwing
                            li
                                a(href='#' class='window-link') Туймазы
                            li
                                a(href='#' class='window-link') Тигарбо
                            li
                                a(href='#' class='window-link') Трубы, отводы, фланцы
            li(class='window-list-item')
                span(class='window-list-item-current') Коммерческий транспорт
                ul(class='window-sublist')
                    li(class='window-sublist-item')
                        span(class='window-sublist-item-current') Everdigm
                        ul
                            li
                                a(href='#' class='window-link') Everdigm
                            li
                                a(href='#' class='window-link') Putzmeister
                            li
                                a(href='#' class='window-link') Schwing
                            li
                                a(href='#' class='window-link') Туймазы
                            li
                                a(href='#' class='window-link') Тигарбо
                            li
                                a(href='#' class='window-link') Трубы, отводы, фланцы
                    li(class='window-sublist-item')
                        span(class='window-sublist-item-current') Putzmeister
                        ul
                            li
                                a(href='#' class='window-link') Everdigm
                            li
                                a(href='#' class='window-link') Putzmeister
                            li
                                a(href='#' class='window-link') Schwing
                            li
                                a(href='#' class='window-link') Туймазы
                            li
                                a(href='#' class='window-link') Тигарбо
                            li
                                a(href='#' class='window-link') Трубы, отводы, фланцы
                    li(class='window-sublist-item')
                        span(class='window-sublist-item-current') Schwing
                        ul
                            li
                                a(href='#' class='window-link') Everdigm
                            li
                                a(href='#' class='window-link') Putzmeister
                            li
                                a(href='#' class='window-link') Schwing
                            li
                                a(href='#' class='window-link') Туймазы
                            li
                                a(href='#' class='window-link') Тигарбо
                            li
                                a(href='#' class='window-link') Трубы, отводы, фланцы
                    li(class='window-sublist-item')
                        span(class='window-sublist-item-current') Туймазы
                        ul
                            li
                                a(href='#' class='window-link') Everdigm
                            li
                                a(href='#' class='window-link') Putzmeister
                            li
                                a(href='#' class='window-link') Schwing
                            li
                                a(href='#' class='window-link') Туймазы
                            li
                                a(href='#' class='window-link') Тигарбо
                            li
                                a(href='#' class='window-link') Трубы, отводы, фланцы
            li(class='window-list-item')
                span(class='window-list-item-current') Коронки, зубья, ножи
                ul(class='window-sublist')
                    li(class='window-sublist-item')
                        span(class='window-sublist-item-current') Everdigm
                        ul
                            li
                                a(href='#' class='window-link') Everdigm
                            li
                                a(href='#' class='window-link') Putzmeister
                            li
                                a(href='#' class='window-link') Schwing
                            li
                                a(href='#' class='window-link') Туймазы
                            li
                                a(href='#' class='window-link') Тигарбо
                            li
                                a(href='#' class='window-link') Трубы, отводы, фланцы
                    li(class='window-sublist-item')
                        span(class='window-sublist-item-current') Putzmeister
                        ul
                            li
                                a(href='#' class='window-link') Everdigm
                            li
                                a(href='#' class='window-link') Putzmeister
                            li
                                a(href='#' class='window-link') Schwing
                            li
                                a(href='#' class='window-link') Туймазы
                            li
                                a(href='#' class='window-link') Тигарбо
                            li
                                a(href='#' class='window-link') Трубы, отводы, фланцы
                    li(class='window-sublist-item')
                        span(class='window-sublist-item-current') Schwing
                        ul
                            li
                                a(href='#' class='window-link') Everdigm
                            li
                                a(href='#' class='window-link') Putzmeister
                            li
                                a(href='#' class='window-link') Schwing
                            li
                                a(href='#' class='window-link') Туймазы
                            li
                                a(href='#' class='window-link') Тигарбо
                            li
                                a(href='#' class='window-link') Трубы, отводы, фланцы
                    li(class='window-sublist-item')
                        span(class='window-sublist-item-current') Туймазы
                        ul
                            li
                                a(href='#' class='window-link') Everdigm
                            li
                                a(href='#' class='window-link') Putzmeister
                            li
                                a(href='#' class='window-link') Schwing
                            li
                                a(href='#' class='window-link') Туймазы
                            li
                                a(href='#' class='window-link') Тигарбо
                            li
                                a(href='#' class='window-link') Трубы, отводы, фланцы
            li(class='window-list-item')
                span(class='window-list-item-current') Запчасти к навесному
                ul(class='window-sublist')
                    li(class='window-sublist-item')
                        span(class='window-sublist-item-current') Everdigm
                        ul
                            li
                                a(href='#' class='window-link') Everdigm
                            li
                                a(href='#' class='window-link') Putzmeister
                            li
                                a(href='#' class='window-link') Schwing
                            li
                                a(href='#' class='window-link') Туймазы
                            li
                                a(href='#' class='window-link') Тигарбо
                            li
                                a(href='#' class='window-link') Трубы, отводы, фланцы
                    li(class='window-sublist-item')
                        span(class='window-sublist-item-current') Putzmeister
                        ul
                            li
                                a(href='#' class='window-link') Everdigm
                            li
                                a(href='#' class='window-link') Putzmeister
                            li
                                a(href='#' class='window-link') Schwing
                            li
                                a(href='#' class='window-link') Туймазы
                            li
                                a(href='#' class='window-link') Тигарбо
                            li
                                a(href='#' class='window-link') Трубы, отводы, фланцы
                    li(class='window-sublist-item')
                        span(class='window-sublist-item-current') Schwing
                        ul
                            li
                                a(href='#' class='window-link') Everdigm
                            li
                                a(href='#' class='window-link') Putzmeister
                            li
                                a(href='#' class='window-link') Schwing
                            li
                                a(href='#' class='window-link') Туймазы
                            li
                                a(href='#' class='window-link') Тигарбо
                            li
                                a(href='#' class='window-link') Трубы, отводы, фланцы
                    li(class='window-sublist-item')
                        span(class='window-sublist-item-current') Туймазы
                        ul
                            li
                                a(href='#' class='window-link') Everdigm
                            li
                                a(href='#' class='window-link') Putzmeister
                            li
                                a(href='#' class='window-link') Schwing
                            li
                                a(href='#' class='window-link') Туймазы
                            li
                                a(href='#' class='window-link') Тигарбо
                            li
                                a(href='#' class='window-link') Трубы, отводы, фланцы