div(class='news')

    h1 НОВОСТИ

    div(class='news-list')

        div(class='news-item')
            a(href='#' class='preview-item-image')
                img(src='images/image-article-preview-1.jpg' alt='article')
            h3
                a(href='#') Большая партия ходовой QL у нас на складе
            p Мы продолжаем расширять ассортимент и количество ходовой на нашем складе. На днях пришли 3 20-футовых...
            time(class='preview-item-date')
                div(class='preview-item-date-icon')
                    img(src='images/icon-calendar.png' alt='article')
                time(class='preview-item-date-value' datetime='2017-25-07T09:00') 25.07.2017

        div(class='news-item')
            a(href='#' class='preview-item-image')
                img(src='images/image-article-preview-1.jpg' alt='article')
            h3
                a(href='#') Большая партия ходовой QL у нас на складе
            p Мы продолжаем расширять ассортимент и количество ходовой на нашем складе. На днях пришли 3 20-футовых...
            time(class='preview-item-date')
                div(class='preview-item-date-icon')
                    img(src='images/icon-calendar.png' alt='article')
                time(class='preview-item-date-value' datetime='2017-25-07T09:00') 25.07.2017

        div(class='news-item')
            a(href='#' class='preview-item-image')
                img(src='images/image-article-preview-1.jpg' alt='article')
            h3
                a(href='#') Большая партия ходовой QL у нас на складе
            p Мы продолжаем расширять ассортимент и количество ходовой на нашем складе. На днях пришли 3 20-футовых...
            time(class='preview-item-date')
                div(class='preview-item-date-icon')
                    img(src='images/icon-calendar.png' alt='article')
                time(class='preview-item-date-value' datetime='2017-25-07T09:00') 25.07.2017

        div(class='news-item')
            a(href='#' class='preview-item-image')
                img(src='images/image-article-preview-1.jpg' alt='article')
            h3
                a(href='#') Большая партия ходовой QL у нас на складе
            p Мы продолжаем расширять ассортимент и количество ходовой на нашем складе. На днях пришли 3 20-футовых...
            time(class='preview-item-date')
                div(class='preview-item-date-icon')
                    img(src='images/icon-calendar.png' alt='article')
                time(class='preview-item-date-value' datetime='2017-25-07T09:00') 25.07.2017

        div(class='news-item')
            a(href='#' class='preview-item-image')
                img(src='images/image-article-preview-1.jpg' alt='article')
            h3
                a(href='#') Большая партия ходовой QL у нас на складе
            p Мы продолжаем расширять ассортимент и количество ходовой на нашем складе. На днях пришли 3 20-футовых...
            time(class='preview-item-date')
                div(class='preview-item-date-icon')
                    img(src='images/icon-calendar.png' alt='article')
                time(class='preview-item-date-value' datetime='2017-25-07T09:00') 25.07.2017

        div(class='news-item')
            a(href='#' class='preview-item-image')
                img(src='images/image-article-preview-1.jpg' alt='article')
            h3
                a(href='#') Большая партия ходовой QL у нас на складе
            p Мы продолжаем расширять ассортимент и количество ходовой на нашем складе. На днях пришли 3 20-футовых...
            time(class='preview-item-date')
                div(class='preview-item-date-icon')
                    img(src='images/icon-calendar.png' alt='article')
                time(class='preview-item-date-value' datetime='2017-25-07T09:00') 25.07.2017

        div(class='news-item')
            a(href='#' class='preview-item-image')
                img(src='images/image-article-preview-1.jpg' alt='article')
            h3
                a(href='#') Большая партия ходовой QL у нас на складе
            p Мы продолжаем расширять ассортимент и количество ходовой на нашем складе. На днях пришли 3 20-футовых...
            time(class='preview-item-date')
                div(class='preview-item-date-icon')
                    img(src='images/icon-calendar.png' alt='article')
                time(class='preview-item-date-value' datetime='2017-25-07T09:00') 25.07.2017

        div(class='news-item')
            a(href='#' class='preview-item-image')
                img(src='images/image-article-preview-1.jpg' alt='article')
            h3
                a(href='#') Большая партия ходовой QL у нас на складе
            p Мы продолжаем расширять ассортимент и количество ходовой на нашем складе. На днях пришли 3 20-футовых...
            time(class='preview-item-date')
                div(class='preview-item-date-icon')
                    img(src='images/icon-calendar.png' alt='article')
                time(class='preview-item-date-value' datetime='2017-25-07T09:00') 25.07.2017

    div(class='pagination')
        span(class='pagination-text') Страницы:
        a(href='#') «
        a(href='#') 1
        a(href='#') 2
        a(href='#') 3
        a(href='#') 4
        a(href='#') 5
        a(href='#') 6
        a(class='active') 7
        a(href='#') 8
        a(href='#') 9
        a(href='#') 10
        a(href='#') ...
        a(href='#') 57
        a(href='#') »