div(class='previews-aside')

    div(class='previews-aside-title') Вакансии

    div(class='previews-short-item')
        a(href='#' class='preview-item-image')
            img(src='images/image-article-preview-1.jpg' alt='article')
        h3
            a(href='#') Менеджеры по продажам запасных частей и доп. оборудования
        p Как всегда, главное требование - это желание работать. Тем не менее, приветствуются следующие качества соискателей.
        time(class='preview-item-date')
            div(class='preview-item-date-icon')
                img(src='images/icon-calendar.png' alt='article')
            time(class='preview-item-date-value' datetime='2017-25-07T09:00') 25.07.2017

    div(class='previews-short-item')
        a(href='#' class='preview-item-image')
            img(src='images/image-article-preview-1.jpg' alt='article')
        h3
            a(href='#') Менеджеры по продажам запасных частей и доп. оборудования
        p Как всегда, главное требование - это желание работать. Тем не менее, приветствуются следующие качества соискателей.
        time(class='preview-item-date')
            div(class='preview-item-date-icon')
                img(src='images/icon-calendar.png' alt='article')
            time(class='preview-item-date-value' datetime='2017-25-07T09:00') 25.07.2017

    a(href='#' class='link-see-all')
        span(class='link-see-all-icon')
            img(src='images/icon-burger.png' alt='see all')
        span(class='link-see-all-text') Все новости