section(class='previews')
    div(class='container')
        div(class='row')

            div(class='col-xl-6')

                h2 Новости

                div(class='preview-list')

                    div(class='preview-item')
                        div(class='preview-item-image')
                            img(src='images/image-article-preview-1.jpg' alt='article')
                            div(class='preview-item-image-decor')
                        h3
                            a(href='#' class='preview-item-title') Большая партия ходовой QL у нас на складе
                        div(class='preview-item-text') Мы продолжаем расширять ассортимент и количество ходовой на нашем складе. На днях пришли 3 20-футовых...
                        div(class='preview-item-date')
                            div(class='preview-item-date-icon')
                                img(src='images/icon-calendar.png' alt='article')
                            time(class='preview-item-date-value') 25.07.2017

                    div(class='preview-item')
                        div(class='preview-item-image')
                            img(src='images/image-article-preview-2.jpg' alt='article')
                            div(class='preview-item-image-decor')
                        h3
                            a(href='#' class='preview-item-title') Более 20 000 фотографий запасных частей
                        div(class='preview-item-text') Мы постоянно пополняем каталог фотографиями запасных частей, которые проходят через наш склад...
                        div(class='preview-item-date')
                            div(class='preview-item-date-icon')
                                img(src='images/icon-calendar.png' alt='article')
                            time(class='preview-item-date-value') 17.07.2017

                a(href='#' class='link-see-all')
                    span(class='link-see-all-icon')
                        img(src='images/icon-burger.png' alt='see all')
                    span(class='link-see-all-text') Все новости

            div(class='col-xl-6')

                h2 Спецпредложения

                div(class='preview-list')

                    div(class='preview-item')
                        div(class='preview-item-image')
                            img(src='images/image-article-preview-3.jpg' alt='article')
                            div(class='preview-item-image-decor')
                        h3
                            a(href='#' class='preview-item-title') Большая партия ходовой QL у нас на складе
                        div(class='preview-item-text') Мы продолжаем расширять ассортимент и количество ходовой на нашем складе. На днях пришли 3 20-футовых...
                        div(class='preview-item-date')
                            div(class='preview-item-date-icon')
                                img(src='images/icon-calendar.png' alt='article')
                            time(class='preview-item-date-value') 25.07.2017

                    div(class='preview-item')
                        div(class='preview-item-image')
                            img(src='images/image-article-preview-4.jpg' alt='article')
                            div(class='preview-item-image-decor')
                        h3
                            a(href='#' class='preview-item-title') Более 20 000 фотографий запасных частей
                        div(class='preview-item-text') Мы постоянно пополняем каталог фотографиями запасных частей, которые проходят через наш склад...
                        div(class='preview-item-date')
                            div(class='preview-item-date-icon')
                                img(src='images/icon-calendar.png' alt='article')
                            time(class='preview-item-date-value') 17.07.2017

                a(href='#' class='link-see-all')
                    span(class='link-see-all-icon')
                        img(src='images/icon-burger.png' alt='see all')
                    span(class='link-see-all-text') Все спецпредложения