form(class='form-products-search')
    label
        input(type='text' placeholder='Каталожный номер')
        div(class='field-clear')
            img(src='images/icon-field-clear.png' alt='clear')
    label
        input(type='text' placeholder='Наименование')
        div(class='field-clear')
            img(src='images/icon-field-clear.png' alt='clear')
    label
        input(type='text' placeholder='Дополнительная информация')
        div(class='field-clear')
            img(src='images/icon-field-clear.png' alt='clear')
    button(type='submit')
        img(src='images/icon-search.png' alt='some text')