section(class='products')
    div(class='container')
        div(class='row')
            div(class='col-12')

                h2 Последние поступления

                div(class='products-control products-control-prev')
                    img(src='images/icon-slider-control-prev.png' alt='control prev')
                div(class='products-control products-control-next')
                    img(src='images/icon-slider-control-next.png' alt='control next')
                div(class='products-slider')

                    div(class='product-card slide')
                        div(class='product-card-image')
                            img(src='images/image-product-1.jpg' alt='product')
                        h3
                            a(href='#' class='product-card-title')
                                != 'Адаптер ковшевой <br>Doosan'
                        div(class='product-card-code') Артикул 2181-1126D14

                    div(class='product-card slide')
                        div(class='product-card-image')
                            img(src='images/image-product-2.jpg' alt='product')
                        h3
                            a(href='#' class='product-card-title')
                                != 'Контроллер <br>Hyundai'
                        div(class='product-card-code') Артикул 2181-1126D14

                    div(class='product-card slide')
                        div(class='product-card-image')
                            img(src='images/image-product-3.jpg' alt='product')
                        h3
                            a(href='#' class='product-card-title')
                                != 'Адаптер ковшевой <br>Doosan'
                        div(class='product-card-code') Артикул 2181-1126D14

                    div(class='product-card slide')
                        div(class='product-card-image')
                            img(src='images/image-product-4.jpg' alt='product')
                        h3
                            a(href='#' class='product-card-title')
                                != 'Контроллер <br>Hyundai'
                        div(class='product-card-code') Артикул 2181-1126D14

                    div(class='product-card slide')
                        div(class='product-card-image')
                            img(src='images/image-product-2.jpg' alt='product')
                        h3
                            a(href='#' class='product-card-title')
                                != 'Адаптер ковшевой <br>Doosan'
                        div(class='product-card-code') Артикул 2181-1126D14

                    div(class='product-card slide')
                        div(class='product-card-image')
                            img(src='images/image-product-3.jpg' alt='product')
                        h3
                            a(href='#' class='product-card-title')
                                != 'Контроллер <br>Hyundai'
                        div(class='product-card-code') Артикул 2181-1126D14