div(class='products-filter')

    div(class='pagination')
        span(class='pagination-text') Страницы:
        a(href='#') «
        a(href='#') 1
        a(href='#') 2
        a(href='#') 3
        a(href='#') 4
        a(href='#') 5
        a(href='#') 6
        a(class='active') 7
        a(href='#') 8
        a(href='#') 9
        a(href='#') 10
        a(href='#') ...
        a(href='#') 57
        a(href='#') »

    div(class='products-show-amount')
        span(class='products-show-amount-text') Позиций на странице:
        span(class='products-show-amount-current') 10
        ul
            li 10
            li 25
            li 50
            li 100
        input(type='text')

    div(class='products-view')
        a(class='products-view-grid')
            img(src='images/icon-products-view-grid.png' alt='some text')
        a(class='products-view-line active')
            img(src='images/icon-products-view-line.png' alt='some text')