div(class='products-header')
    div(class='products-header-image')
        img(src='images/icon-catalog-2.png' alt='some text')
    h1 АБН и миксеры Volvo
    p В этом разделе вы можете ознакомится с номенклатурой запасных частей для экскаваторов, погрузчиков и фронтальных погрузчиков, которые мы поставляем.
