div(class='products-list-wrap')

    div(class='products-list-header')
        div(class='products-list-header-item') Фото
        div(class='products-list-header-item')
            a(href='#' class='view-order-control') каталожный номер
        div(class='products-list-header-item')
            a(href='#' class='view-order-control') Наименование
        div(class='products-list-header-item')
            a(href='#' class='view-order-control') Производитель
        div(class='products-list-header-item')
            a(href='#' class='view-order-control') Дополнительная информация
        div(class='products-list-header-item') Наличие
        div(class='products-list-header-item')
            a(href='#' class='view-order-control') Цена
        div(class='products-list-header-item') Запрос

    div(class='products-list')

        div(class='products-item')
            div(class='products-item-image')
                a(href='#')
                    img(src='images/image-product-small.jpg' alt='product')
            div(class='products-item-code') 75275-12.025
            div(class='products-item-name') Датчик давления масла
            div(class='products-item-brand') Doosan
            div(class='products-item-data') ТО-28А, ТО-18Б2, ТО-18Б3, ТО-18Б4, ТО-18Б5
            div(class='products-item-presence')
                div(class='product-presence-now')
            div(class='products-item-cost') 27200 Р
            div(class='products-item-order')
                a(href='#')
                    img(src='images/icon-order.png' alt='some text')

        div(class='products-item')
            div(class='products-item-image')
                a(href='#')
            div(class='products-item-code') У35.61557.025
            div(class='products-item-name') Еще один датчик давления масла
            div(class='products-item-brand') Hyundai
            div(class='products-item-data') ТО-28А, ТО-18Б2, ТО-18Б3, ТО-18Б4, ТО-18Б5
            div(class='products-item-presence')
                div(class='product-presence-later')
            div(class='products-item-cost') По запросу
            div(class='products-item-order')
                a(href='#')
                    img(src='images/icon-order.png' alt='some text')

        div(class='products-item')
            div(class='products-item-image')
                a(href='#')
                    img(src='images/image-product-small.jpg' alt='product')
            div(class='products-item-code') У35.61557.025
            div(class='products-item-name') Датчик давления масла
            div(class='products-item-brand') Volvo
            div(class='products-item-data') ТО-28А, ТО-18Б2, ТО-18Б3, ТО-18Б4, ТО-18Б5
            div(class='products-item-presence')
                div(class='product-presence-order')
            div(class='products-item-cost') 11200 Р
            div(class='products-item-order')
                a(href='#')
                    img(src='images/icon-order.png' alt='some text')

        div(class='products-item')
            div(class='products-item-image')
                a(href='#')
            div(class='products-item-code') У35.61557.025
            div(class='products-item-name') Еще один датчик давления масла
            div(class='products-item-brand') Hyundai
            div(class='products-item-data') ТО-28А, ТО-18Б2, ТО-18Б3, ТО-18Б4, ТО-18Б5
            div(class='products-item-presence')
                div(class='product-presence-later')
            div(class='products-item-cost') По запросу
            div(class='products-item-order')
                a(href='#')
                    img(src='images/icon-order.png' alt='some text')

        div(class='products-item')
            div(class='products-item-image')
                a(href='#')
                    img(src='images/image-product-small.jpg' alt='product')
            div(class='products-item-code') У35.61557.025
            div(class='products-item-name') Датчик давления масла
            div(class='products-item-brand') Volvo
            div(class='products-item-data') ТО-28А, ТО-18Б2, ТО-18Б3, ТО-18Б4, ТО-18Б5
            div(class='products-item-presence')
                div(class='product-presence-order')
            div(class='products-item-cost') 11200 Р
            div(class='products-item-order')
                a(href='#')
                    img(src='images/icon-order.png' alt='some text')

        div(class='products-item')
            div(class='products-item-image')
                a(href='#')
            div(class='products-item-code') У35.61557.025
            div(class='products-item-name') Еще один датчик давления масла
            div(class='products-item-brand') Hyundai
            div(class='products-item-data') ТО-28А, ТО-18Б2, ТО-18Б3, ТО-18Б4, ТО-18Б5
            div(class='products-item-presence')
                div(class='product-presence-later')
            div(class='products-item-cost') По запросу
            div(class='products-item-order')
                a(href='#')
                    img(src='images/icon-order.png' alt='some text')

        div(class='products-item')
            div(class='products-item-image')
                a(href='#')
                    img(src='images/image-product-small.jpg' alt='product')
            div(class='products-item-code') У35.61557.025
            div(class='products-item-name') Датчик давления масла
            div(class='products-item-brand') Volvo
            div(class='products-item-data') ТО-28А, ТО-18Б2, ТО-18Б3, ТО-18Б4, ТО-18Б5
            div(class='products-item-presence')
                div(class='product-presence-order')
            div(class='products-item-cost') 11200 Р
            div(class='products-item-order')
                a(href='#')
                    img(src='images/icon-order.png' alt='some text')

        div(class='products-item')
            div(class='products-item-image')
                a(href='#')
            div(class='products-item-code') У35.61557.025
            div(class='products-item-name') Еще один датчик давления масла
            div(class='products-item-brand') Hyundai
            div(class='products-item-data') ТО-28А, ТО-18Б2, ТО-18Б3, ТО-18Б4, ТО-18Б5
            div(class='products-item-presence')
                div(class='product-presence-later')
            div(class='products-item-cost') По запросу
            div(class='products-item-order')
                a(href='#')
                    img(src='images/icon-order.png' alt='some text')

        div(class='products-item')
            div(class='products-item-image')
                a(href='#')
                    img(src='images/image-product-small.jpg' alt='product')
            div(class='products-item-code') У35.61557.025
            div(class='products-item-name') Датчик давления масла
            div(class='products-item-brand') Volvo
            div(class='products-item-data') ТО-28А, ТО-18Б2, ТО-18Б3, ТО-18Б4, ТО-18Б5
            div(class='products-item-presence')
                div(class='product-presence-order')
            div(class='products-item-cost') 11200 Р
            div(class='products-item-order')
                a(href='#')
                    img(src='images/icon-order.png' alt='some text')

        div(class='products-item')
            div(class='products-item-image')
                a(href='#')
            div(class='products-item-code') У35.61557.025
            div(class='products-item-name') Еще один датчик давления масла
            div(class='products-item-brand') Hyundai
            div(class='products-item-data') ТО-28А, ТО-18Б2, ТО-18Б3, ТО-18Б4, ТО-18Б5
            div(class='products-item-presence')
                div(class='product-presence-later')
            div(class='products-item-cost') По запросу
            div(class='products-item-order')
                a(href='#')
                    img(src='images/icon-order.png' alt='some text')

        div(class='products-item')
            div(class='products-item-image')
                a(href='#')
                    img(src='images/image-product-small.jpg' alt='product')
            div(class='products-item-code') У35.61557.025
            div(class='products-item-name') Датчик давления масла
            div(class='products-item-brand') Volvo
            div(class='products-item-data') ТО-28А, ТО-18Б2, ТО-18Б3, ТО-18Б4, ТО-18Б5
            div(class='products-item-presence')
                div(class='product-presence-order')
            div(class='products-item-cost') 11200 Р
            div(class='products-item-order')
                a(href='#')
                    img(src='images/icon-order.png' alt='some text')