form(class='form-products-search')
    label
        input(type='text' placeholder='Каталожный номер')
    label
        input(type='text' placeholder='Наименование')
    label
        input(type='text' placeholder='Дополнительная информация')
    button(type='submit')
        img(src='images/icon-search.png' alt='some text')