div(class='products-list-header')
    div(class='products-list-header-item') Фото
    div(class='products-list-header-item') каталожный номер
    div(class='products-list-header-item') Наименование
    div(class='products-list-header-item') Производитель
    div(class='products-list-header-item') Дополнительная информация
    div(class='products-list-header-item') Наличие
    div(class='products-list-header-item') Цена
    div(class='products-list-header-item') Запрос

div(class='products-list')

    div(class='products-item')
        div(class='products-item-image')
            img(src='images/image-product-1.jpg' alt='product')
        div(class='products-item-code') 75275-12.025
        div(class='products-item-name') Датчик давления масла
        div(class='products-item-brand') Doosan
        div(class='products-item-data') ТО-28А, ТО-18Б2, ТО-18Б3, ТО-18Б4, ТО-18Б5
        div(class='products-item-presence')
            div(class='product-presence-now')
        div(class='products-item-cost') 27200 Р
        div(class='products-item-order')
            a(href='#')
                img(src='images/icon-order.png' alt='some text')

    div(class='products-item')
        div(class='products-item-image')
        div(class='products-item-code') У35.61557.025
        div(class='products-item-name') Еще один датчик давления масла
        div(class='products-item-brand') Hyundai
        div(class='products-item-data') ТО-28А, ТО-18Б2, ТО-18Б3, ТО-18Б4, ТО-18Б5
        div(class='products-item-presence')
            div(class='product-presence-later')
        div(class='products-item-cost') По запросу
        div(class='products-item-order')
            a(href='#')
                img(src='images/icon-order.png' alt='some text')

    div(class='products-item')
        div(class='products-item-image')
            img(src='images/image-product-2.jpg' alt='product')
        div(class='products-item-code') У35.61557.025
        div(class='products-item-name') Датчик давления масла
        div(class='products-item-brand') Volvo
        div(class='products-item-data') ТО-28А, ТО-18Б2, ТО-18Б3, ТО-18Б4, ТО-18Б5
        div(class='products-item-presence')
            div(class='product-presence-order')
        div(class='products-item-cost') 11200 Р
        div(class='products-item-order')
            a(href='#')
                img(src='images/icon-order.png' alt='some text')

    div(class='products-item')
        div(class='products-item-image')
        div(class='products-item-code') У35.61557.025
        div(class='products-item-name') Еще один датчик давления масла
        div(class='products-item-brand') Hyundai
        div(class='products-item-data') ТО-28А, ТО-18Б2, ТО-18Б3, ТО-18Б4, ТО-18Б5
        div(class='products-item-presence')
            div(class='product-presence-later')
        div(class='products-item-cost') По запросу
        div(class='products-item-order')
            a(href='#')
                img(src='images/icon-order.png' alt='some text')

    div(class='products-item')
        div(class='products-item-image')
            img(src='images/image-product-2.jpg' alt='product')
        div(class='products-item-code') У35.61557.025
        div(class='products-item-name') Датчик давления масла
        div(class='products-item-brand') Volvo
        div(class='products-item-data') ТО-28А, ТО-18Б2, ТО-18Б3, ТО-18Б4, ТО-18Б5
        div(class='products-item-presence')
            div(class='product-presence-order')
        div(class='products-item-cost') 11200 Р
        div(class='products-item-order')
            a(href='#')
                img(src='images/icon-order.png' alt='some text')

    div(class='products-item')
        div(class='products-item-image')
        div(class='products-item-code') У35.61557.025
        div(class='products-item-name') Еще один датчик давления масла
        div(class='products-item-brand') Hyundai
        div(class='products-item-data') ТО-28А, ТО-18Б2, ТО-18Б3, ТО-18Б4, ТО-18Б5
        div(class='products-item-presence')
            div(class='product-presence-later')
        div(class='products-item-cost') По запросу
        div(class='products-item-order')
            a(href='#')
                img(src='images/icon-order.png' alt='some text')

    div(class='products-item')
        div(class='products-item-image')
            img(src='images/image-product-2.jpg' alt='product')
        div(class='products-item-code') У35.61557.025
        div(class='products-item-name') Датчик давления масла
        div(class='products-item-brand') Volvo
        div(class='products-item-data') ТО-28А, ТО-18Б2, ТО-18Б3, ТО-18Б4, ТО-18Б5
        div(class='products-item-presence')
            div(class='product-presence-order')
        div(class='products-item-cost') 11200 Р
        div(class='products-item-order')
            a(href='#')
                img(src='images/icon-order.png' alt='some text')

    div(class='products-item')
        div(class='products-item-image')
        div(class='products-item-code') У35.61557.025
        div(class='products-item-name') Еще один датчик давления масла
        div(class='products-item-brand') Hyundai
        div(class='products-item-data') ТО-28А, ТО-18Б2, ТО-18Б3, ТО-18Б4, ТО-18Б5
        div(class='products-item-presence')
            div(class='product-presence-later')
        div(class='products-item-cost') По запросу
        div(class='products-item-order')
            a(href='#')
                img(src='images/icon-order.png' alt='some text')

    div(class='products-item')
        div(class='products-item-image')
            img(src='images/image-product-2.jpg' alt='product')
        div(class='products-item-code') У35.61557.025
        div(class='products-item-name') Датчик давления масла
        div(class='products-item-brand') Volvo
        div(class='products-item-data') ТО-28А, ТО-18Б2, ТО-18Б3, ТО-18Б4, ТО-18Б5
        div(class='products-item-presence')
            div(class='product-presence-order')
        div(class='products-item-cost') 11200 Р
        div(class='products-item-order')
            a(href='#')
                img(src='images/icon-order.png' alt='some text')

    div(class='products-item')
        div(class='products-item-image')
        div(class='products-item-code') У35.61557.025
        div(class='products-item-name') Еще один датчик давления масла
        div(class='products-item-brand') Hyundai
        div(class='products-item-data') ТО-28А, ТО-18Б2, ТО-18Б3, ТО-18Б4, ТО-18Б5
        div(class='products-item-presence')
            div(class='product-presence-later')
        div(class='products-item-cost') По запросу
        div(class='products-item-order')
            a(href='#')
                img(src='images/icon-order.png' alt='some text')

    div(class='products-item')
        div(class='products-item-image')
            img(src='images/image-product-2.jpg' alt='product')
        div(class='products-item-code') У35.61557.025
        div(class='products-item-name') Датчик давления масла
        div(class='products-item-brand') Volvo
        div(class='products-item-data') ТО-28А, ТО-18Б2, ТО-18Б3, ТО-18Б4, ТО-18Б5
        div(class='products-item-presence')
            div(class='product-presence-order')
        div(class='products-item-cost') 11200 Р
        div(class='products-item-order')
            a(href='#')
                img(src='images/icon-order.png' alt='some text')