form(class='form-products-search')
    label
        input(type='text' placeholder='Каталожный номер')
        div(class='field-clear') X
    label
        input(type='text' placeholder='Наименование')
        div(class='field-clear') X
    label
        input(type='text' placeholder='Дополнительная информация')
        div(class='field-clear') X
    button(type='submit')
        img(src='images/icon-search.png' alt='some text')