div(class='container')

    div(class='row')
        div(class='col-12')

            h1 РЕЗУЛЬТАТЫ ПОИСКА ПО ЗАПРОСУ «2134-1265»

    div(class='row')
        div(class='col-12')

            div(class='search-result')

                h2
                    a(href='#') Каталог товаров

                ul
                    li
                        a(href='#') SOLAR LCV225 - ENGINE PARTS - OIL SYSTEM - PAGE2346 - OIL FILTER ASS'y 2132-1265D10
                    li
                        a(href='#') SOLAR LCV225 - ENGINE PARTS - OIL SYSTEM - PAGE2346 - OIL FILTER ASS'y 2132-1265D10

            div(class='search-result')

                h2
                    a(href='#') Электронные каталоги Он-лайн

                ul
                    li
                        a(href='#') SOLAR LCV225 - ENGINE PARTS - OIL SYSTEM - PAGE2346 - OIL FILTER ASS'y 2132-1265D10
                    li
                        a(href='#') SOLAR LCV225 - ENGINE PARTS - OIL SYSTEM - PAGE2346 - OIL FILTER ASS'y 2132-1265D10
                    li
                        a(href='#') SOLAR LCV225 - ENGINE PARTS - OIL SYSTEM - PAGE2346 - OIL FILTER ASS'y 2132-1265D10

            div(class='search-result')

                h2
                    a(href='#') Каталог товаров

                ul
                    li
                        a(href='#') SOLAR LCV225 - ENGINE PARTS - OIL SYSTEM - PAGE2346 - OIL FILTER ASS'y 2132-1265D10
                    li
                        a(href='#') SOLAR LCV225 - ENGINE PARTS - OIL SYSTEM - PAGE2346 - OIL FILTER ASS'y 2132-1265D10
                    li
                        a(href='#') SOLAR LCV225 - ENGINE PARTS - OIL SYSTEM - PAGE2346 - OIL FILTER ASS'y 2132-1265D10

            div(class='search-result')

                h2
                    a(href='#') Электронные каталоги Он-лайн

                ul
                    li
                        a(href='#') SOLAR LCV225 - ENGINE PARTS - OIL SYSTEM - PAGE2346 - OIL FILTER ASS'y 2132-1265D10
                    li
                        a(href='#') SOLAR LCV225 - ENGINE PARTS - OIL SYSTEM - PAGE2346 - OIL FILTER ASS'y 2132-1265D10
                    li
                        a(href='#') SOLAR LCV225 - ENGINE PARTS - OIL SYSTEM - PAGE2346 - OIL FILTER ASS'y 2132-1265D10

            div(class='search-result')

                h2
                    a(href='#') Каталог товаров

                ul
                    li
                        a(href='#') SOLAR LCV225 - ENGINE PARTS - OIL SYSTEM - PAGE2346 - OIL FILTER ASS'y 2132-1265D10
                    li
                        a(href='#') SOLAR LCV225 - ENGINE PARTS - OIL SYSTEM - PAGE2346 - OIL FILTER ASS'y 2132-1265D10
                    li
                        a(href='#') SOLAR LCV225 - ENGINE PARTS - OIL SYSTEM - PAGE2346 - OIL FILTER ASS'y 2132-1265D10

            div(class='search-result')

                h2
                    a(href='#') Электронные каталоги Он-лайн

                ul
                    li
                        a(href='#') SOLAR LCV225 - ENGINE PARTS - OIL SYSTEM - PAGE2346 - OIL FILTER ASS'y 2132-1265D10
                    li
                        a(href='#') SOLAR LCV225 - ENGINE PARTS - OIL SYSTEM - PAGE2346 - OIL FILTER ASS'y 2132-1265D10
                    li
                        a(href='#') SOLAR LCV225 - ENGINE PARTS - OIL SYSTEM - PAGE2346 - OIL FILTER ASS'y 2132-1265D10