div(class='vacancies')

    h1 ВАКАНСИИ

    p В настоящий момент нашей компании требуются:

    div(class='vacancies-list')

        div(class='vacancies-item')
            h2 Менеджер по закупке запасных частей и доп. оборудования
            p Как всегда, главное требование - это желание работать. Тем не менее, приветствуются следующие качества соискателей:
            ul
                li Возраст: 20-35 лет;
                li Образование: высшее техническое;
                li Опыт работы в сфере продаж запасных частей и (или) доп. оборудования: не менее 1 года;
                li Условия оплаты: з/п + проценты + соц. пакет.

        div(class='vacancies-item')
            h2 Заведующий складом
            p Как всегда, главное требование - это желание работать. Тем не менее, приветствуются следующие качества соискателей:
            ul
                li Возраст: 20-35 лет;
                li Образование: высшее техническое;
                li Опыт работы в сфере продаж запасных частей и (или) доп. оборудования: не менее 1 года;
                li Условия оплаты: з/п + процент

        div(class='vacancies-item')
            h2 Менеджер по закупке запасных частей и доп. оборудования
            p Как всегда, главное требование - это желание работать. Тем не менее, приветствуются следующие качества соискателей:
            ul
                li Возраст: 20-35 лет;
                li Образование: высшее техническое;
                li Опыт работы в сфере продаж запасных частей и (или) доп. оборудования: не менее 1 года;
                li Условия оплаты: з/п + проценты + соц. пакет.

        div(class='vacancies-item')
            h2 Заведующий складом
            p Как всегда, главное требование - это желание работать. Тем не менее, приветствуются следующие качества соискателей:
            ul
                li Возраст: 20-35 лет;
                li Образование: высшее техническое;
                li Опыт работы в сфере продаж запасных частей и (или) доп. оборудования: не менее 1 года;
                li Условия оплаты: з/п + процент

        div(class='vacancies-item')
            h2 Менеджер по закупке запасных частей и доп. оборудования
            p Как всегда, главное требование - это желание работать. Тем не менее, приветствуются следующие качества соискателей:
            ul
                li Возраст: 20-35 лет;
                li Образование: высшее техническое;
                li Опыт работы в сфере продаж запасных частей и (или) доп. оборудования: не менее 1 года;
                li Условия оплаты: з/п + проценты + соц. пакет.

        div(class='vacancies-item')
            h2 Заведующий складом
            p Как всегда, главное требование - это желание работать. Тем не менее, приветствуются следующие качества соискателей:
            ul
                li Возраст: 20-35 лет;
                li Образование: высшее техническое;
                li Опыт работы в сфере продаж запасных частей и (или) доп. оборудования: не менее 1 года;
                li Условия оплаты: з/п + проценты + соц. пакет.